<app-header></app-header>

<ion-content style="background-color: var(--ion-color-dark)" fixed>
  <div style="width: 100%; height: 100%;" *ngIf="product">

    <!-- imagen fondo -->
    <div style="width: 100%; height: 100%;">
      <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
        src="{{myV.urlBaseImg+ product.prodImagen}}" style="/* object-fit: scale-down; */
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0;">
    </div>

    <!-- Categoría -->
    <div style="position: absolute;
      top: 1rem;
      left: 1rem;
      background-color: var(--ion-color-primary);
      color: var(--ion-color-light);
      font-size: 1.2rem;
      padding: 0.1rem 2rem 0.1rem 0.7rem;
      border-radius: 0.2rem;
      font-size: 1.1rem;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">{{product.catNombre}}
    </div>

    <!-- TitleProduct -->
    <div style="position: absolute;
      top: 3rem;
      left: 1rem;
      color: var(--ion-color-light);
      font-size: 1.5rem;
      font-weight: bold;
      text-shadow: -1px 0 #333333, 0 1px
      #333333, 1px 0 #333333, 0 -1px
      #333333;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }
      ">{{product.prodNombre}} </div>

    <!-- Leer más -->
    <div style="position: absolute;
      bottom: 3.5rem;
      left: 1rem;">
      <ion-button fill="clear" (click)="btnLeerMas(product.prodId)" style="font-size: 1rem;
        font-weight: bold;
        height: 2.4rem;
        --background: rgba(var(--ion-color-light-rgb), 0.6);
        --color: var(--ion-color-dark-tint);
        --padding-start: 0.5rem;
        --padding-end: 0.6rem;
        text-transform: none;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
        <ion-icon style="font-size: 1.7rem; padding: 0 0.4rem 0 0; font-weight:
          bold;" name="alert-circle-outline">
        </ion-icon>
        <div style="text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;">
          Leer más
        </div>
      </ion-button>
    </div>


    <div style="position: absolute;
      bottom: 3.5rem;
      right: 1rem;
      flex-direction: row;display: flex;
      background-color: var(--ion-color-primary);
      color: var(--ion-color-light);
      font-size: 1.7rem;
      padding: 0 7px;
      border-radius: 0.2rem;
      font-family: fantasy;
      align-items: center;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.price }">

      <div>{{product.prodPrecio|precio:'entero'}}{{product.prodPrecio|precio:'separadorDecimal'}}</div>
      <div style="font-size: 0.8rem;margin-bottom: 0.5rem;">{{product.prodPrecio|precio:'decimal'}}</div>
      <div style="margin-left: 0.3rem;">€</div>
    </div>


    <div style="position: absolute; left: 50%; bottom: 0;">
      <ion-button fill="clear" (click)="btnAnadirAlCarrito()" style="    font-size: 1rem;
        position: relative;
        left: -50%;
        top: 0;
        font-weight: bold;
        height: 2.4rem;
        --background: var(--ion-color-success);
        --color: var(--ion-color-light);
        --padding-start: 30vw;
        --padding-end: 30vw;
        text-transform: none;
        --border-radius: 1rem 1rem 0 0;
        margin: 0;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
        {{myV.intoLocalMode==='llamarCamarero'?'Llamar Camarero':'Añadir al carrito'}}
      </ion-button>
    </div>


  </div>
</ion-content>