<ion-header class="ion-no-border">
  <ion-toolbar style="display: flex; align-items: center;">
    <ion-buttons slot="start">
      <div>
        <img src="{{myV.appInfo.config.splash.images.Header}}"
          onerror="this.onerror=null;this.src='assets/image/no-image.png';" alt=""
          style="height: 3rem; padding-left: 1rem;margin: 0.5rem 0;" />
      </div>
    </ion-buttons>

    <ion-buttons *ngIf="showInfo">

      <div class="container" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">

        <div *ngIf="myV.user" style="display: flex;flex-direction: row;justify-content: flex-end;">
          <div>{{myV.user.nombre}} </div>
          <ion-icon name="person-circle" style="margin-left: 5px;"></ion-icon>
        </div>

        <div *ngIf="myV.intoLocalMode || myV.intoLocal"
          style="display: flex;flex-direction: row;justify-content: flex-end;">
          <div>Modo LOCAL</div>
          <ion-icon name="location" style="margin-left: 5px;"></ion-icon>
        </div>

        <div *ngIf="myV.haveChildren" style="display: flex; flex-direction: column; justify-content: right;">
          <div>{{getChild()?.nombre}}</div>
          <div>{{getChild()?.dir}}</div>
          <a (click)="goBack()" style="color: white;font-size: 1.2rem;text-decoration: underline;">
            Volver
          </a>
        </div>
      </div>

    </ion-buttons>



  </ion-toolbar>
</ion-header>