ion-buttons {
  font-size: 0.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: end;
  font-family: Boogaloo;
  position: absolute;
  right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .direction {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
