<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" slot="start">
        <ion-icon style="zoom: 1.5;" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Extra
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding animated fadeInUpBig">
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <h1>Lorem ipsum .</h1>
      <p>dolor sit amet consectetur adipisicing elit. Animi, fuga delectus tempora minus omnis reprehenderit</p>
    </ion-label>
  </ion-item>
  <hr>
  <!--Check-->
  <ion-list>
    <ion-list-header>
      <ion-label>add Extra 1 </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let entry of form; let i = index">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
      <p slot="end"> {{i+20|currency:'EUR':true}} </p>
    </ion-item>

    <!--Radio-->
    <ion-list-header>
      <ion-label>add Extra 2 </ion-label>
    </ion-list-header>

    <ion-radio-group value="biff">
      <ion-item>
        <ion-label>Biff</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
        <p slot="end"> {{20|currency:'EUR':true}} </p>
      </ion-item>
      <ion-item>
        <ion-label>Griff</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
        <p slot="end"> {{20|currency:'EUR':true}} </p>
      </ion-item>
      <ion-item>
        <ion-label>Buford</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
        <p slot="end"> {{20|currency:'EUR':true}} </p>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer (click)="dismiss()" class="ion-padding">
  <ion-button expand="block">ADD - {{999|currency:'EUR':true}} </ion-button>
</ion-footer>