.myTitle {
    border-bottom: 1px solid var(--ion-color-light-shade);
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 1rem;
  }