<app-header></app-header>

<ion-content style="background-color: var(--ion-color-dark);" fixed *ngIf="product">


  <div style="width: 100%; height: 100%;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-row style="margin-bottom: 0.5rem; width: 100%;">


            <div style="font-weight: bold; margin-bottom: 0.5rem;" class="myTitle"
              [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
              {{product.prodNombre}}
            </div>

            <!-- Descipción -->
            <div *ngIf="product.prodDescription">
              <ion-row>
                <ion-col size="12">
                  <div style="font-weight: bold;" class="myTitle"
                    [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                    Descripción
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size=" 12">
                  <div>
                    {{product.prodDescription}}
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <!-- galeria -->
            <div *ngIf="product.prodArrGaleria.length>0">
              <ion-slides mode="ios" [options]="optionsSlideFotos">
                <ion-slide *ngFor="let item of product.prodArrGaleria; let i= index">
                  <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                    [src]="myV.urlBaseImg+item.image"
                    style=" object-fit: cover; width: 95%; height: 15rem; border-radius: 1rem 1rem;  " />
                </ion-slide>
              </ion-slides>
            </div>


            <!-- Ingredientes -->
            <div *ngIf="product.prodArrIngredientesTodos && product.prodArrIngredientesTodos.length>0">
              <ion-row>
                <ion-col size="12">
                  <div style="font-weight: bold; margin-top: 0.5rem;" class="myTitle"
                    [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                    Ingredientes
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" size-lg="2" size-md="3" size-sm="4" size-xs="6"
                  *ngFor="let item of product.prodArrIngredientesTodos; let i=index">
                  <div style=" display: flex; flex-direction: row; align-items: center; ">
                    <ion-icon style=" color: var(--ion-color-primary); margin-right: 0.2rem; zoom: 1.5; "
                      name="checkmark-circle-outline"></ion-icon>
                    <div>
                      {{item}}
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <!-- Info para Alergicos -->
            <div style="padding-bottom: 3rem; width: 100%;"
              *ngIf="product.prodAlergenosResumen && product.prodAlergenosResumen.length>2 && product.prodArrAlergenos.length>0">
              <ion-row>
                <ion-col size="12">
                  <div style="font-weight: bold;margin-top: 0.5rem;" class="myTitle"
                    [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                    Información para alérgicos<br>Contiene:
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size=" 12">
                  <div>
                    {{product.prodAlergenosResumen}}
                  </div>
                </ion-col>
              </ion-row>
            </div>


            <!-- caso cuando no tiene ni Alergenos ni ingredientes ni galeria -->
            <div style="width: 100%;" *ngIf="(product.prodArrIngredientes && product.prodArrIngredientes.length<1) &&
                            (product.prodArrAlergenos && product.prodArrAlergenos.length<1) ">

              <div style="display: flex; flex-direction: column;" style="width: 100%;">

                <div style="width: 100%; display: flex; justify-content: center;padding: 1rem 0;">
                  <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                    [src]="myV.urlBaseImg + product.prodImagen_sqr" style="width: 15rem;height: intrinsic;" />
                </div>

              </div>

            </div>

          </ion-row>

        </ion-col>

      </ion-row>

    </ion-grid>
  </div>


  <!-- btn para regresar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="volver()">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>