<app-header></app-header>

<ion-content class="animated fadeIn" fullscreen="true" style="position:
  relative;">

  <!-- pantalla Historial TODO -->
  <div *ngIf="showHistorialAll" class="animated fadeIn" style="display: flex; flex-direction: column;">

    <!-- titulo -->
    <div (click)="btnAtrasEnMisPedidosAll()"
      style="width: 100%;display: flex; flex-direction: row; align-items: center;">

      <div>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="arrow-back-circle-outline" style="zoom: 1.5;"></ion-icon>
        </ion-button>
      </div>

      <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" style="font-weight: bold; font-size: 1.2rem;">
        Mis Pedidos
      </div>

    </div>

    <!-- items pedidos -->
    <div style="width: 100%;">

      <!-- item para bucle -->
      <ion-item (click)="btnPedidoDetalle(pedido)" *ngFor="let pedido of historial" style="border-radius: 0;">

        <!-- <div style="width: 100%; padding: 0.5rem 0;"> -->

        <!-- caso que esté en preparación -->
        <div *ngIf="pedido.estado === 'EnPreparacion'" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}"
          style="position: absolute; display: flex; flex-direction: row;background-color: var(--ion-color-primary); 
          color: var(--ion-color-light); top: 0; right: 0;padding: 2px 10px; align-items: center; border-radius: 0 0 0 1rem;">
          <ion-icon name="timer-outline"></ion-icon>
          <div *ngIf="pedido.estado==='EnPreparacion'" style="margin-left: 5px;">En preparación</div>
          <!-- verificar ngif de los demas estados -->
          <div *ngIf="pedido.estado !=='EnPreparacion'" style="margin-left: 5px;">{{pedido.estado}}</div>
        </div>

        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
          style="display: flex;flex-direction: row; align-items: center; position: relative;">

          <!-- codigo de pedido -->
          <div style="font-size: 3rem;color: var(--ion-color-primary); margin-right: 0.5rem;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
            {{pedido.order_code}}
          </div>

          <!-- columna central -->
          <div style="display: flex;flex-direction: column;margin: 0.5rem 0;">
            <div ngSwitch="pedido.pay_method.nombre" style="display: flex;flex-direction: row;align-items: center; ">
              <ion-icon *ngSwitchCase="'Datáfono' || 'Datafono' || 'datafono' || 'dataphone'"
                style="margin-right: 0.4rem;color: var(--ion-color-primary);" name="card-outline"></ion-icon>
              <ion-icon *ngSwitchCase="'Efectivo' || 'effective' ||'efectivo'"
                style="margin-right: 0.4rem;color: var(--ion-color-primary);" name="cash-outline"></ion-icon>
              <ion-icon *ngSwitchDefault style="margin-right: 0.4rem;color: var(--ion-color-primary);"
                name="wallet-outline"></ion-icon>

              <div style="font-size: 1.2rem;">{{pedido.pay_method.nombre}}</div>



            </div>

            <div style="display: flex; flex-direction: row;">
              <div>{{pedido.updated_at | mydates:'DD/MM/YYYY'}}</div>
            </div>

            <div style="font-style: italic;font-size: 0.8rem;">{{pedido.resumen}}</div>

          </div>

        </div>

        <!-- flecha de continuar -->
        <ion-icon style="zoom: 1.5; margin: 0;" slot="end" name="arrow-forward-circle-outline"></ion-icon>

        <!-- </div> -->
      </ion-item>


    </div>

  </div>

  <!-- pantalla Historial Detalles -->
  <div *ngIf="showHistorialDetail" class="animated fadeIn" style="display: flex; flex-direction: column;">

    <!-- titulo -->
    <div (click)="btnAtrasEnMisPedidosDetalles()"
      style=" width: 100%;display: flex; flex-direction: row; align-items: center;">

      <div>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="arrow-back-circle-outline" style="zoom: 1.5;"></ion-icon>
        </ion-button>
      </div>

      <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" style="font-weight: bold; font-size: 1.2rem;">
        Mis Pedidos
      </div>

    </div>

    <div
      style="text-align: center; font-weight: bold; font-size: 3rem; color: var(--ion-color-primary);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
      {{this.historialDetail.order_code}}</div>
    <div style="text-align: center; font-size: 0.7rem; color: black;">
      {{this.historialDetail.updated_at | mydates:'DD/MM/YYYY HH:mm:ss'}}</div>

    <!-- bucle de pedidos -->
    <ion-item *ngFor="let item of this.historialDetail.items">
      <div style="display: flex; flex-direction: row;">

        <!-- caso de productos reales -->
        <img *ngIf="item.product" [src]="this.myV.urlBaseImg + item.imagen"
          style="width: 4rem;object-fit: cover; border-radius: 5px; margin: 0.5rem 0;height: intrinsic;">

        <!-- caso de elementos que no son productos, como los gastos etc  y ocupar un espacio deonde vá las imagenes-->
        <div *ngIf="!item.product" style="width: 4rem;">
        </div>

        <ion-label [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}"
          style="display: flex; align-items: center; margin-left: 0.5rem;">
          {{item.cantidad>1?item.cantidad+'x '+item.item_name:item.item_name}}</ion-label>
      </div>
      <ion-label [ngStyle]="{'font-family': this.myV.appInfo.fonts.price}" style="font-size: 1.2rem; font-weight: bold;"
        slot="end">{{item.subtotal | currency:'EUR':'symbol':'1.2-2':'fr'}}</ion-label>
    </ion-item>

    <!-- total de pedidos -->
    <div
      style="display: flex; flex-direction: row; width: 100%; justify-content: flex-end;padding: 1rem;align-items: baseline;">
      <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
        style="margin-right: 0.5rem; text-align: right;">Total del Pedido:</div>
      <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.price}" style="font-size: 1.2rem; font-weight: bold;">
        {{this.historialDetail.total | currency:'EUR':'symbol':'1.2-2':'fr'}}</div>
    </div>

    <!-- caso en preparación -->
    <div *ngIf="this.historialDetail.estado ==='EnPreparacion'"
      style="width: 100%; text-align: center;font-size: 2.5rem;" class="animated pulse infinite slower">
      <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" style="color: var(--ion-color-primary);">En
        Preparación</div>
    </div>

    <!-- caso NO en preparación -->
    <!-- <div *ngIf="this.historialDetail.estado !='EnPreparacion'" style="width: 100%; text-align: center;font-size: 2rem;">
      <ion-button style=" text-transform: none;" color="success">
        Repetir Pedido
      </ion-button>
    </div> -->

  </div>


  <!-- ---------------------------------------------------------------------------------- -->
  <!------------------------------------- fondogeneral ------------------------------------->
  <div style="width: 100%;height: 100%;position: absolute;background-color: var(--ion-color-light);">
    <!-- <div style="width: 100%;height: 100%;position: absolute;background-color: var(--ion-color-light);"> -->


    <!-- Caso para elegir el tipo de Inicio de sesión -->
    <div class="animated fadeIn" *ngIf="showInitType" style="width: 100%; height: 80%; position: absolute;background-color: var(--ion-color-light); z-index: 15; display: flex;flex-direction: column;
                  justify-content: center; align-items: center;">

      <!-- botones -->
      <div style="display: flex; flex-direction: column;width: 90%; margin-top: 0.5rem;align-items: center;">


        <ion-icon style="zoom: 10 ; color: var(--ion-color-primary); width: 100%; text-align: center;"
          name="person-circle"></ion-icon>


        <div class="animated fadeIn" style="width: 87%;">
          <ion-button (click)="btnTypeSingIn()" style="text-transform: none; --color: var(--ion-color-light);"
            expand="block" color="success">
            <div style="color: var(--ion-color-light); font-size: 1rem;"
              [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
              Iniciar Sesión
            </div>
          </ion-button>
        </div>

        <div class="animated fadeIn" style="width: 87%;">
          <ion-button (click)="btnTypeSingUp()" style="text-transform: none; --color: var(--ion-color-light);"
            expand="block" color="success">
            <div style="color: var(--ion-color-light); font-size: 1rem;"
              [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
              Registrarme como Cliente
            </div>
          </ion-button>
        </div>

        <!-- <div class="animated fadeIn" style="width: 87%;">
          <ion-button (click)="btnTypeSingInAnonimous()" style="text-transform: none; --color: var(--ion-color-light);"
            expand="block" color="success">
            <div style="color: var(--ion-color-light); font-size: 1rem;"
              [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
              Continuar como Anónimo
            </div>
          </ion-button>
        </div> -->

      </div>

    </div>



    <!-- Login y register -->
    <div class="animated fadeIn" *ngIf="showSingIn || showSingUp || showSingInAnonymous|| showForgetPassword" style="width: 100%; height: 80%; position: absolute;background-color: var(--ion-color-light); z-index: 15; display: flex;flex-direction: column;
            justify-content: center; align-items: center;">

      <!-- <ion-icon style="zoom: 10 ; color: var(--ion-color-primary);" name="person-circle"></ion-icon> -->
      <div (click)="btnShowInitType()" style="width: 100%; display: flex; flex-direction: row; align-items: center;">
        <ion-button style="height: 4rem; width: 4rem; margin: -1rem -1rem -1rem 10px;" fill="clear">
          <ion-icon name="arrow-back-circle-outline" style="zoom: 4;"></ion-icon>
        </ion-button>

        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
          <div *ngIf="showSingIn" style="font-weight: bold; margin-left: 5px;">SI YA ERES CLIENTE,
            INICIA SESIÓN</div>
          <div *ngIf="showSingUp" style="font-weight: bold; margin-left: 5px;">DESEO REGISTRARME COMO
            CLIENTE</div>
          <div *ngIf="showSingInAnonymous" style="font-weight: bold; margin-left: 5px;">DESEO
            CONTINUAR COMO ANÓNIMO</div>
          <div *ngIf="showForgetPassword" style="font-weight: bold; margin-left: 5px;">
            ¿OLVIDASTES TU CONTRRASEÑA?</div>
        </div>
      </div>

      <div style="position: relative; z-index: 15; width: 20rem; 
               background-color: transparent;border-radius: 0.5rem; border-radius: 0.5rem;
               display: flex; justify-content: center;align-items: center; flex-direction: column;">

        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
          style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; padding: 0.3rem">

          <div class="entrada" *ngIf="showSingUp || showSingInAnonymous">
            <div>Nombre y Apellido:</div>
            <input type="text" [(ngModel)]="usuario.nombre">
          </div>

          <div class="entrada" *ngIf="showSingUp || showSingInAnonymous">
            <div>Teléfono:</div>
            <input type="number" [(ngModel)]="usuario.tel">
          </div>

          <div class="entrada">
            <div>Correo electrónico:</div>
            <input type="email" [(ngModel)]="usuario.email">
          </div>

          <div class="entrada" *ngIf="!showSingInAnonymous">
            <div>Contraseña:</div>
            <input type="password" [(ngModel)]="usuario.password">
          </div>

        </div>

      </div>

      <!-- botones -->
      <div style="display: flex; flex-direction: column;width: 90%; margin-top: 0.5rem;align-items: center;">

        <div class="animated fadeIn" *ngIf="showSingIn"
          style="width: 100%; display: flex; flex-direction: row;align-items: center; padding: 0 0.5rem;">
          <ion-button (click)="btnMostrarReestablecerContrasena()"
            style="width: 50%; --padding-start:0; text-transform: none; --color: var(--ion-color-light)" expand="block"
            fill="clear">
            <div style="color: black; text-decoration: underline; font-size: 0.7rem;"
              [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
              Olvidé mi contraseña
            </div>
          </ion-button>
          <ion-button (click)="btnSingIn()" style="width: 50%; text-transform: none; --color: var(--ion-color-light)"
            expand="block" color="success">
            <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
              ENTRAR
            </div>
          </ion-button>
        </div>


        <div class="animated fadeIn" *ngIf="showSingUp"
          style="width: 100%; display: flex; flex-direction: row;align-items: center; padding: 0 0.5rem;">

          <div style="width: 60%; display: flex; flex-direction: row; align-items: center;font-size: 0.6rem;">

            <ion-toggle color="success" [(ngModel)]="aceptadoTerminosRegistro" style="margin: 0 0 0 -17px;width: 45px;">
            </ion-toggle>
            <div style="padding: 0 5px;">He leído y estoy conforme con las <span (click)="btnPoliticasPrivacidad()"
                style="text-decoration: underline; font-style: italic;">políticas de privacidad</span></div>
          </div>

          <ion-button [disabled]="!aceptadoTerminosRegistro" (click)="btnSingUp()"
            style="width: 40%; text-transform: none; --color: var(--ion-color-light)" expand="block" color="success">
            <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
              REGISTRARME
            </div>
          </ion-button>
        </div>

        <div class="animated fadeIn" *ngIf="showSingInAnonymous"
          style="width: 100%; display: flex; flex-direction: row;align-items: center; padding: 0 0.5rem;">
          <div style="width: 50%;"></div>
          <ion-button (click)="btnSingInAnonymous()"
            style="width: 50%; text-transform: none; --color: var(--ion-color-light)" expand="block" color="success">
            <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
              CONTINUAR
            </div>
          </ion-button>
        </div>

      </div>
    </div>

    <!-- caso Reestablecer contraseña -->
    <div class="animated fadeIn" *ngIf="showForgetPassword" style="width: 100%; height: 80%; position: absolute;background-color: var(--ion-color-light); z-index: 15; display: flex;flex-direction: column;
                    justify-content: center; align-items: center;">

      <!-- <ion-icon style="zoom: 10 ; color: var(--ion-color-primary);" name="person-circle"></ion-icon> -->
      <div (click)="btnShowInitType()" style="width: 100%; display: flex; flex-direction: row; align-items: center;">
        <ion-button style="height: 4rem; width: 4rem; margin: -1rem -1rem -1rem 10px;" fill="clear">
          <ion-icon name="arrow-back-circle-outline" style="zoom: 4;"></ion-icon>
        </ion-button>

        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
          <div style="font-weight: bold; margin-left: 5px;">
            ¿OLVIDASTES TU CONTRRASEÑA?</div>
        </div>
      </div>

      <div style="position: relative; z-index: 15; width: 20rem; 
                       background-color: transparent;border-radius: 0.5rem; border-radius: 0.5rem;
                       display: flex; justify-content: center;align-items: center; flex-direction: column;">

        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
          style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; padding: 0.3rem">

          <!-- <div class="entrada" *ngIf="showSingUp || showSingInAnonymous">
                <div>Nombre y Apellido:</div>
                <input type="text" [(ngModel)]="usuario.nombre">
              </div>
        
              <div class="entrada" *ngIf="showSingUp || showSingInAnonymous">
                <div>Teléfono:</div>
                <input type="number" [(ngModel)]="usuario.tel">
              </div> -->

          <div class="entrada">
            <div>Correo electrónico:</div>
            <input type="email" [(ngModel)]="emailForgetPassword">
          </div>

          <!-- <div class="entrada" *ngIf="!showSingInAnonymous">
                <div>Contraseña:</div>
                <input type="password" [(ngModel)]="usuario.password">
              </div> -->

        </div>

      </div>

      <!-- botones -->
      <div style="display: flex; flex-direction: column;width: 90%; margin-top: 0.5rem;align-items: center;">

        <div class="animated fadeIn" *ngIf="showForgetPassword"
          style="width: 100%; display: flex; flex-direction: row;align-items: center; padding: 0 0.5rem; justify-content: center;">
          <!-- <ion-button style="width: 50%; --padding-start:0; text-transform: none; --color: var(--ion-color-light)"
                expand="block" fill="clear">
                <div style="color: black; text-decoration: underline; font-size: 0.7rem;"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                  Olvidé mi contraseña
                </div>
              </ion-button> -->
          <!-- <ion-button (click)="btnVolverDesdeReestablecerContrasena()"
            style="width: 50%; text-transform: none; --color: var(--ion-color-light)" expand="block" color="success">
            <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
              Volver
            </div>
          </ion-button> -->
          <ion-button (click)="btnReestablecerContrasena()"
            style="width: 50%; text-transform: none; --color: var(--ion-color-light)" expand="block" color="success">
            <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
              Reestablecer
            </div>
          </ion-button>
        </div>


        <!-- <div class="animated fadeIn" *ngIf="showSingUp"
              style="width: 100%; display: flex; flex-direction: row;align-items: center; padding: 0 0.5rem;">
        
              <div style="width: 60%; display: flex; flex-direction: row; align-items: center;font-size: 0.6rem;">
        
                <ion-toggle color="success" [(ngModel)]="aceptadoTerminosRegistro" style="margin: 0 0 0 -17px;width: 45px;">
                </ion-toggle>
                <div style="padding: 0 5px;">He leído y estoy conforme con las <span
                    style="text-decoration: underline; font-style: italic;">políticas de privacidad</span></div>
              </div>
        
              <ion-button [disabled]="!aceptadoTerminosRegistro" (click)="btnSingUp()"
                style="width: 40%; text-transform: none; --color: var(--ion-color-light)" expand="block" color="success">
                <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                  REGISTRARME
                </div>
              </ion-button>
            </div>
        
            <div class="animated fadeIn" *ngIf="showSingInAnonymous"
              style="width: 100%; display: flex; flex-direction: row;align-items: center; padding: 0 0.5rem;">
              <div style="width: 50%;"></div>
              <ion-button (click)="btnSingInAnonymous()"
                style="width: 50%; text-transform: none; --color: var(--ion-color-light)" expand="block" color="success">
                <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                  CONTINUAR
                </div>
              </ion-button>
            </div> -->

      </div>
    </div>


    <!-- ------------------------------------------------------------------------------- -->
    <!-- Caso cuando estan logueados -->
    <div class="animated fadeIn" *ngIf="showLogged" style="width: 100%; height: 80%; position: absolute;background-color: var(--ion-color-light); z-index: 15; display: flex;flex-direction: column;
            justify-content: center; align-items: center;">
      <ion-icon style="zoom: 10 ; color: var(--ion-color-primary);" name="person-circle"></ion-icon>
      <div style="position: relative; z-index: 15; width: 20rem; 
               background-color: var(--ion-color-primary);border-radius: 0.5rem; border-radius: 0.5rem;
               display: flex; justify-content: center;align-items: center; flex-direction: column;">

        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}" style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; padding: 0.3rem; font-size: 1.5rem;
    color: var(--ion-color-light);">

          <div style="margin-top: 0.5rem;">¡Bienvenido!</div>
          <div style="margin-top: 0.5rem;">{{myV.user.nombre}}</div>
          <div style="margin: 0.5rem 0; font-size: 1rem;">{{myV.user.email}}</div>

        </div>
      </div>

      <!-- botones -->
      <div style="display: flex; flex-direction: column;width: 90%; margin-top: 0.5rem;align-items: center;">

        <div class="animated fadeIn" style="width: 87%;">

          <ion-button (click)="btnSingOut()" style="text-transform: none; --color: var(--ion-color-light)"
            expand="block" color="primary">
            <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
              Cerrar Sesión
            </div>
          </ion-button>

          <ion-button *ngIf="this.historial && this.historial.length>0" (click)="btnMisPedidos()"
            style="text-transform: none; --color: var(--ion-color-light)" expand="block" color="primary">
            <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
              Mis Pedidos
            </div>
          </ion-button>

        </div>

      </div>
    </div>


    <!-- </div> -->
  </div>



</ion-content>