.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.col {
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}

.custom-loading {
  --background: #f0f8ff;
  .loading-wrapper {
    box-shadow: none !important;
    -webkit-box-shadow: !important;
  }
}

ion-select {
  max-width: 100% !important;
  padding: 0;
  // border-radius: 0.5rem;
}
ion-label {
  max-width: fit-content !important;
}

ion-item {
  border-radius: 0.5rem;
  --min-height: 0;
}

ion-input {
  background-color: var(--ion-color-light);
  border-radius: 0.5rem;
  margin-top: 0.2rem;
}

.paneles {
  background-color: var(--ion-color-primary);
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 10 !important;
}

#btnLlevar,
#btnRecoger {
  position: relative;
  z-index: 10;
  text-transform: none;
  --background: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary);
  --background-activated-opacity: 1;
  --background-focused: var(--ion-color-primary);
  --background-focused-opacity: 1;
  --background-hover: var(--ion-color-primary);
  --background-hover-opacity: 1;
  --border-color: var(--ion-color-primary);
  --border-radius: 8px;
  --border-style: solid;
  --border-width: 8px;
  --color: #ffffff;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
  --color-hover: #ffffff;
  --opacity: 1;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
  --ripple-color: #1e1e1e;
  --transition: background-color 15ms linear;
}

.entrada {
  width: 100%;
  margin-top: 5px;

  input {
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    height: 2.5rem;
  }
  div {
    width: 100%;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: -3px;
  }
}
