.slide-mas {
  height: 300px;
}

.btn-mas {
  position: relative;
  top: 13%;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}


.btn-carta-populares{
  height: 1.6rem;
  color: var(--ion-color-light);
  font-weight: bold;
  margin: 0 4vw;
  text-transform: none;
}

