<app-header></app-header>
<!-- <app-header></app-header> -->

<ion-content fullscreen="true" style="width: 100%;height: 100%;">
  <ion-grid class="ion-no-padding" *ngIf="myV.products" style="width: 100%;height: 100%;">
    <ion-row class="ion-justify-content-center ion-no-ppading ion-no-margin" style="height: 100%;width: 100%;">

      <!-- buscador -->
      <ion-row style="width: 100%;" class="ion-justify-content-center ion-no-ppading ion-no-margin">
        <ion-searchbar debounce='300' (ionChange)='updateSearch(searchText)' [(ngModel)]='searchText'
          placeholder="¿Buscas algo?" style="padding: 0.5rem 1.2rem;height: 4rem;" clearIcon>
        </ion-searchbar>
        <!-- </ion-col> -->
      </ion-row>


      <!-- caso cuando no hay algo para buscar -->
      <ion-row *ngIf="!searchText" style="width: 100%;" class="ion-justify-content-center ion-no-ppading ion-no-margin">



        <ion-row *ngFor="let item of this.estructuraHome; let i= index" style="width: 100%;margin: 0.5rem 0; "
          class="ion-no-ppading ion-no-margin">

          <!-- casos link -->
          <div (click)="clickLinkAction(item.action,item.href, item.product_id)" *ngIf="item.mode ==='link'"
            style="width: 100%;display: flex;padding: 0 1rem; flex-direction: column;">

            <div style="display: flex; flex-direction: row;position: relative;">

              <!-- precio -->
              <div *ngIf="item.price" [ngStyle]="{'font-family': this.myV.appInfo.fonts.price }"
                [ngStyle]="{'right': item.description?'52%':'5%'}" style="
                                                              position: absolute;
                                                              flex-direction: row;
                                                              display: flex;
                                                              bottom: 5%;
                                                              background-color: var(--ion-color-success);
                                                              color: var(--ion-color-light);
                                                              font-size: 1.2rem;
                                                              padding: 4px;
                                                              border-radius: 5px;
                                                              align-items: center;
                                                            ">
                <div>{{item.price|precio:'entero'}}{{item.price|precio:'separadorDecimal'}}
                </div>
                <div style="font-size: 1rem; margin-bottom: 0.1rem;">{{item.price|precio:'decimal'}}
                </div>
                <div style="margin-left: 0.2rem;">
                  €
                </div>
              </div>


              <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                src="{{item.image.includes('https')?item.image:myV.urlBaseImg+ item.image}}" alt="" [ngStyle]="item.description? {
                  'width': '50%',
                  'border-radius':'1rem 0 0 1rem',
                  'border-top':'1px solid var(--ion-color-primary)',
                  'border-bottom':'1px solid var(--ion-color-primary)',
                  'border-left':'1px solid var(--ion-color-primary)',
                  'height':'intrinsic'
                }:{
                  'width': '100%',
                  'border-radius':'1rem',
                  'border':'1px solid var(--ion-color-primary)',
                  'height':'intrinsic'
                }">

              <!-- panel derecho descripción -->
              <div *ngIf="item.description" style="width: 50%; display: flex; 
                justify-content: center;align-items: center;flex-direction: column;padding: 0.3rem;border-radius: 0 1rem 1rem 0;
                border-top:1px solid var(--ion-color-primary);
                border-right:1px solid var(--ion-color-primary);
                border-bottom:1px solid var(--ion-color-primary);
                ">
                <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }"
                  style="width: 100%;text-align: center; margin: 0.5rem 0;font-weight: bold; font-size: 1.2rem;">
                  {{item.title}}</div>
                <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }"
                  style="text-align: center; width: 100%; font-size: 0.8rem;">
                  {{item.description}}
                </div>
              </div>

            </div>

            <div *ngIf="item.title && !item.description" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }"
              style="text-align: center; width: 100%;font-size: 1.7rem;">
              {{item.title}}
            </div>

          </div>


          <!-- caso carrusel -->
          <div *ngIf="item.mode ==='carousel'"
            style="width: 100%;display: flex; flex-direction: column;padding: 0 1rem;">
            <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }" style="
                                          padding: 10px 0 0 16px;
                                          font-size: 1.2em;
                                          font-weight: bold;
                                        ">
              {{item.title}}
            </div>

            <!-- Promociones -->
            <ion-slides [options]="optionsSlidePromociones" style="margin: 1vh 0; margin-left: 0.5rem;">
              <ion-slide *ngFor="let categoria of item.items; let i=index" style="
                                            /* height: 75%; */
                                            /* padding: 0 2vw; */
                                            display: flex;
                                            flex-direction: column;
                                          " (click)="mostrarProducto(categoria.id)">
                <div>
                  <div style="position: relative;">
                    <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                      [src]="categoria.imagen_min.includes('https')?categoria.imagen_min:myV.urlBaseImg+categoria.imagen_min" />
                    <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.price }" style="
                                                  position: absolute;
                                                  flex-direction: row;
                                                  display: flex;
                                                  bottom: 7%;
                                                  right: 5%;
                                                  background-color: var(--ion-color-success);
                                                  color: var(--ion-color-light);
                                                  font-size: 0.7rem;
                                                  padding: 4px;
                                                  border-radius: 5px;
                                                  font-family: none;
                                                  align-items: center;
                                                ">
                      <div>{{categoria.precio|precio:'entero'}}{{categoria.precio|precio:'separadorDecimal'}}
                      </div>
                      <div style="font-size: 0.6rem; margin-bottom: 0.1rem;">{{categoria.precio|precio:'decimal'}}
                      </div>
                      <div style="margin-left: 0.2rem;">
                        €
                      </div>
                    </div>
                  </div>

                  <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }"
                    style="font-size: 0.7rem; padding-top: 3px;">
                    {{categoria.nombre}}
                  </div>
                </div>
              </ion-slide>
            </ion-slides>

          </div>

          <!-- caso CATEGORIAS -->
          <ion-row *ngIf="item.mode==='categories'" style="margin: 0 0.5rem 10rem 0">
            <ion-col size="12" size-lg="2" size-md="3" size-sm="4" size-xs="6"
              *ngFor="let categoria of myV.categories; let i= index" (click)="mostrarCategoria(categoria.catId)">
              <ion-card no-padding class="ion-no-padding ion-no-margin" style="margin: 0.5rem;">
                <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                  [src]="categoria.catIcon.includes('https')?categoria.catIcon:myV.urlBaseImg+categoria.catIcon" style="    object-fit: cover;
                                width: 100%;
                                height: 100%;" />

                <div style="
                                    position: absolute;
                                    bottom: 5%;
                                    left: 5%;
                                    background-color: var(--ion-color-primary);
                                    color: var(--ion-color-light);
                                    font-size: 1rem;
                                    padding: 4px;
                                    border-radius: 5px;
                                    font-family: inherit;
                                  " [ngStyle]="{'font-family':
                                      this.myV.appInfo.fonts.title }">
                  {{categoria.catNombre}}
                </div>
              </ion-card>
            </ion-col>
          </ion-row>


        </ion-row>


      </ion-row>



      <!-- caso buscando texto -->
      <div *ngIf="searchText && searchResult && searchResult.length>0" style="width: 100% ;height: 100%;">

        <!-- productos -->
        <ion-list lines="none" style="padding: 0; background-color: var(--ion-color-light)">
          <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12"
              *ngFor="let producto of searchResult; let i= index" style="--background: var(--ion-color-light);"
              (click)="mostrarProducto(producto.prodId)">
              <ion-item>
                <div style="
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            border-top: 1px solid var(--ion-color-light-shade);
                          ">
                  <div style="
                              width: 30%;
                              display: flex;
                              justify-content: center;
                              padding: 0.7rem 0.5rem 0.7rem 0;
                              align-items: center;
                              /* position: relative; */
                            ">

                    <div style="position: relative;max-width: 128px;">

                      <img *ngIf="producto.prodPromotion && producto.prodPromotion.icon "
                        onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                        [src]="myV.urlBaseImg + producto.prodPromotion.icon"
                        style="z-index: 5; position: absolute; right: -15%; top: -12px; width: 40px;" alt="">

                      <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                        [src]="myV.urlBaseImg + producto.prodImagen_sqr" style="width: 100%; object-fit: cover;" />

                    </div>

                  </div>

                  <div style="
                              width: 50%;
                              display: flex;
                              margin: 0.7rem 0;
                              flex-direction: column;
                              justify-content: center;
                            ">

                    <div style="
                                color: var(--ion-color-primary);
                                font-weight: bold;
                                font-size: 1rem;
                                padding-bottom: 0.5vh;
                              " [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                      {{producto.prodNombre |uppercase}}
                    </div>

                    <div *ngIf="producto.prodDescription && producto.prodDescription.length <= 90"
                      style="font-size: 0.8rem; padding-bottom: 0.5rem;"
                      [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
                      {{producto.prodDescription}}
                    </div>

                    <div *ngIf="producto.prodDescription && producto.prodDescription.length > 90"
                      style="font-size: 0.8rem; padding-bottom: 0.5rem;"
                      [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
                      {{producto.prodDescription | slice:0:90 }} ...
                    </div>

                  </div>

                  <div style="
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              width: 17%;
                            ">
                    <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.price }" style="
                                flex-direction: row;
                                display: flex;
                                background-color: var(--ion-color-primary);
                                color: var(--ion-color-light);
                                font-size: 0.7rem;
                                padding: 0.4rem;
                                border-radius: 3px;
                                font-weight: bold;
                                width: 100%;
                                justify-content: center;
                                align-items: center;
                              ">
                      <div style="font-size: 0.9rem;">
                        {{producto.prodPrecio|precio:'entero'}}{{producto.prodPrecio|precio:'separadorDecimal'}} </div>
                      <div style="font-size: 0.7rem; margin-bottom: 0.2rem;">
                        {{producto.prodPrecio|precio:'decimal'}}
                      </div>
                      <div style="font-size: 0.9rem;margin-left: 0.2rem;">
                        €
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>



      </div>

      <!-- caso buscando y no hay resultados -->
      <div *ngIf="searchText && searchResult && searchResult.length===0" class="animated headShake">
        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}"
          style="font-size: 1.5rem; color: var(--ion-color-primary); text-align: center;">
          No se encontraron resultados para la búsqueda<br> Intente nuevamente..
        </div>
        <ion-img onerror="this.onerror=null;this.src='assets/image/no-image.png';" style="opacity: 0.2;"
          src="assets/image/no-results.png">
        </ion-img>
      </div>


    </ion-row>
  </ion-grid>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Suelte para Actualizar" refreshingSpinner="circles"
      refreshingText="Actualizando..."></ion-refresher-content>
  </ion-refresher>
</ion-content>