<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons collapse="true" slot="start">
      <ion-button [routerLink]="['/tabs/home']" slot="start">
        <ion-icon style="zoom: 1.5;" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div>
  </div>

  <ion-list class="animated fadeInUpBig" lines="none" style="margin-top: -5px;">
    <ion-list-header>
      <ion-label>Tenemos disponible:</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let producto of items; let i = index" style="--background:var(--ion-color-danger)">
      <ion-thumbnail slot="start">
        <img onerror="this.onerror=null;this.src='assets/image/no-image.png';" [src]="producto.img">
      </ion-thumbnail>
      <ion-label color="light">
        <h2>{{producto.name}} {{i}}</h2>
        <p> {{i+20|currency:'EUR':true}} </p>
        <p *ngIf="producto.discount">15% OFF</p>
      </ion-label>
      <ion-button color="primary" slot="end" (click)="presentModal()">Agregar</ion-button>
    </ion-item>

    <ion-item *ngFor="let item of items; let i = index" style="--background:var(--ion-color-danger)">
      <ion-thumbnail slot="start">
        <img onerror="this.onerror=null;this.src='assets/image/no-image.png';" [src]="item.img">
      </ion-thumbnail>
      <ion-label color="light">
        <h2>{{item.name}} {{i}}</h2>
        <p> {{i+20|currency:'EUR':true}} </p>
        <p *ngIf="item.discount">15% OFF</p>
      </ion-label>
      <ion-button color="primary" slot="end" (click)="presentModal()">Agregar</ion-button>
    </ion-item>

  </ion-list>

</ion-content>