<ion-content>
  <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center;">
      <ion-img src="assets/image/escanea-qr.png" style="border-radius: 0;"></ion-img>
    </div>
  </div>
</ion-content>