<div style="width: 100%;height: 100%;background-color: ghostwhite;" *ngIf="myV.appInfo">

  <!-- img fondo -->
  <div [className]="classDivFondo" [ngStyle]="styleDivImageFondo">
    <img onerror="this.onerror=null;this.src='assets/image/no-image.png';" [src]='imgBackground'
      [ngStyle]="styleImageFondo" style="border-radius: 0;">
  </div>

  <!-- img logo -->
  <div [className]="classDivLogo" [ngStyle]="styleDivImageLogo">
    <img onerror="this.onerror=null;this.src='assets/image/no-image.png';" [src]="imgLogo" [ngStyle]="styleImageLogo">
  </div>

  <!-- Texto -->
  <div [className]="classDivTexto" [ngStyle]="styleDivTexto">
    <div [ngStyle]="styleTexto">{{texto}}</div>
  </div>

</div>

<div *ngIf="!myV.appInfo"
  style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
  <div>
    <ion-spinner color="light" style="height: 120vh; width: 120vh;" name="crescent"></ion-spinner>
  </div>
</div>