<ion-tabs [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="book"></ion-icon>
      <ion-label>Carta</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="favorites">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button> -->

    <ion-tab-button *ngIf="!( myV.intoLocal &&  myV.intoLocalMode ==='llamarCamarero') " (click)="mostrarMensaje()"
      tab="cart" [ngClass]="{ 'animated wobble': animarCarrito }">
      <ion-badge color="success" mode="ios" *ngIf="myV.cantidadCarrito>0" style="font-size: 0.9rem; padding: 0.2rem; margin: -0.3rem; color:white;text-shadow: -1px 0 #333333, 0 1px
      #333333, 1px 0 #333333, 0 -1px
      #333333; font-weight: bold;">
        {{myV.cantidadCarrito}}</ion-badge>
      <ion-icon name="cart"></ion-icon>
      <ion-label style="font-size: 0.5rem;line-height: 0.5rem;">Carrito de <br /> compra</ion-label>
    </ion-tab-button>

    <ion-tab-button
      *ngIf="!(myV.intoLocal && ( myV.intoLocalMode ==='autoServicio' || myV.intoLocalMode === 'llamarCamarero' ) )"
      tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button
      *ngIf="myV.intoLocal && ( myV.intoLocalMode ==='autoServicio' || myV.intoLocalMode === 'llamarCamarero' )"
      (click)="btnLlamarCamarero()">
      <!-- <ion-icon name="megaphone"></ion-icon> -->
      <ion-icon src="assets/icon/camarero.svg" class="camarero"></ion-icon>
      <!-- <img src="assets/icon/camarero.svg" style="height:30px;fill: var(--ion-color-medium-shade);"
        class="camarero"> -->
      <ion-label style="line-height: 10px;">Llamar <br /> camarero</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>