.center-align {
  display: flex;
  align-items: center;
}
ion-toolbar {
  .toolbar-title {
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  .toolbar-btn-location {
    font-size: 2rem;
  }
}

ion-card {
  border-radius: 15px;
  .card-container-img {
    height: 128px;
    display: flex;
    align-items: center;
    background-size: cover;
  }
  .card-img {
    height: 60px;
  }
  ion-card-header {
    padding-bottom: 6px;
    ion-card-title {
      font-weight: 700;
    }
  }
  ion-card-content {
    ion-text {
      color: var(--ion-color-dark-shade);
    }
    .contain-chip-mode {
      padding-top: 6px;
    }
  }
}
.chip {
  text-align: center;
  border-radius: 15px;
  font-weight: 700;
  color: white;
  font-size: 0.8em;
  &-status {
  }

  &-mode {
    ion-icon {
      font-size: 14px;
    }
    //font-size: 12px;
    height: 24px;
  }

  &-warning {
    background: #c9410f;
    color: white;
  }
  &-danger {
    color: #747474;
    color: white;
  }
  &-success {
    background: #3aa106;
    color: white;
  }
}
.ion-color {
  color: white;
  background-color: #d22822;
}

img{
  align-self: center;
}