<app-header></app-header>
<ion-toolbar class="ion-color" [ngStyle]="styleObject()">
    <ion-buttons slot="start">
        <ion-button>
            <!-- <ion-icon name="heart"></ion-icon> -->
        </ion-button>
    </ion-buttons>
    <ion-buttons class="toolbar-btn-location" slot="end" (click)="localitySelectionAlert()"
        *ngIf="children.length && res">
        <ion-icon name="location"></ion-icon>
    </ion-buttons>
    <ion-buttons class="toolbar-btn-location" slot="end" (click)="localitySelectionAlert()"
        *ngIf="children.length >= 0 && !res">
        <ion-icon name="location"></ion-icon>
    </ion-buttons>
    <ion-title class="toolbar-title ion-text-center" *ngIf="zone"
        [ngStyle]="{'font-family':this.styles.font_style || 'Boogaloo'}">
        {{zone?.code}}:{{zone?.nombre}}, {{zone?.ciudad}}
    </ion-title>
</ion-toolbar>
<ion-content>
    <ion-list class="" *ngIf="children.length && res" [ngStyle]="{'background': styles.background_list }">



        <ng-container *ngFor="let child of children">
            <ng-container *ngFor="let childBefore of child.pivot.json_sections_before">
                <div (click)="clickLinkAction(childBefore.action,childBefore.href, childBefore.category_id,child, childBefore.product_id)"
                    style="width: 100%;display: flex;padding: 0 1rem; flex-direction: column;   "
                    *ngIf="child.pivot.json_sections_before">

                    <div style="display: flex; flex-direction: row;position: relative;">

                        <!-- precio -->



                        <img [src]="myV.urlBaseImg+childBefore?.image"
                            onerror="this.onerror=null;this.src='assets/image/no-image.png';">

                        <!-- panel derecho descripción -->
                        <div *ngIf="childBefore?.description" style="width: 50%; display: flex; 
            justify-content: center;align-items: center;flex-direction: column;padding: 0.3rem;border-radius: 0 1rem 1rem 0;
            border-top:1px solid var(--ion-color-primary);
            border-right:1px solid var(--ion-color-primary);
            border-bottom:1px solid var(--ion-color-primary);
            ">
                            <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }"
                                style="width: 100%;text-align: center; margin: 0.5rem 0;font-weight: bold; font-size: 1.2rem;">
                                {{childBefore.title}}</div>
                            <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }"
                                style="text-align: center; width: 100%; font-size: 0.8rem;">
                                {{childBefore.description}}
                            </div>
                        </div>

                    </div>

                    <div *ngIf="childBefore.title && !childBefore.description"
                        [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }"
                        style="text-align: center; width: 100%;font-size: 1.7rem;">
                        {{childBefore.title}}
                    </div>

                </div>
            </ng-container>
            <ion-card (click)="openRestaurant(child)">
                <div class="card-container-img"
                    [ngStyle]="{'background-image': 'url('+myV.urlBaseImg+child.card_image+')'}">
                    <ion-img #img class="card-img" [src]="myV.urlBaseImg+child.brand_logo"></ion-img>
                </div>
                <ion-card-header>
                    <ion-row>
                        <ion-col size="7" class="center-align">
                            <ion-card-title [ngStyle]="{'font-family':this.styles.font_style || 'Boogaloo'}">
                                {{child.nombre}}
                            </ion-card-title>
                        </ion-col>
                        <ion-col size="5" class="ion-text-right">
                            <ion-chip class="chip" [class]="'chip-'+setStatus(child.status).color">
                                <ion-label [ngStyle]="{'font-family':this.styles.font_style || 'Boogaloo'}">
                                    {{setStatus(child.status).name}}</ion-label>
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content>
                    <ion-text [style.fontSize.px]="16" [ngStyle]="{'font-family':this.styles.font_style || 'Boogaloo'}">
                        <ion-icon src="/assets/icon/location.svg"></ion-icon>
                        {{child.dir}}
                    </ion-text>
                    <div class="contain-chip-mode">
                        <ion-chip class="chip chip-mode chip-success">
                            <ion-icon [src]="setMode(child.mode).icon"></ion-icon>
                            <ion-label [ngStyle]="{'font-family':this.styles.font_style || 'Boogaloo'}">
                                {{setMode(child.mode).name}}
                            </ion-label>
                        </ion-chip>
                    </div>
                </ion-card-content>
            </ion-card>
            <ng-container *ngFor="let childAfter of child.pivot.json_sections_after">
                <div (click)="clickLinkAction(childAfter.action,childAfter.href, childAfter.category_id, child, childAfter.product_id)"
                    style="width: 100%;display: flex;padding: 0 1rem; flex-direction: column; margin-bottom: 1rem;"
                    *ngIf="child.pivot.json_sections_after">

                    <div style="display: flex; flex-direction: row;position: relative;">

                        <!-- precio -->



                        <img [src]="myV.urlBaseImg+childAfter.image"
                            onerror="this.onerror=null;this.src='assets/image/no-image.png';">

                        <!-- panel derecho descripción -->
                        <div *ngIf="childAfter?.description" style="width: 50%; display: flex; 
        justify-content: center;align-items: center;flex-direction: column;padding: 0.3rem;border-radius: 0 1rem 1rem 0;
        border-top:1px solid var(--ion-color-primary);
        border-right:1px solid var(--ion-color-primary);
        border-bottom:1px solid var(--ion-color-primary);
        ">
                            <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }"
                                style="width: 100%;text-align: center; margin: 0.5rem 0;font-weight: bold; font-size: 1.2rem;">
                                {{childAfter.title}}</div>
                            <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }"
                                style="text-align: center; width: 100%; font-size: 0.8rem;">
                                {{childAfter.description}}
                            </div>
                        </div>

                    </div>

                    <div *ngIf="childAfter.title && !childAfter.description"
                        [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }"
                        style="text-align: center; width: 100%;font-size: 1.7rem;">
                        {{childAfter.title}}
                    </div>

                </div>
            </ng-container>
        </ng-container>

    </ion-list>

    <ion-list *ngIf="!children.length && res">

        <ion-card *ngFor="let i of [1,1,1,1]">
            <div class="card-img">
                <ion-skeleton-text animated [style.width.%]="100"></ion-skeleton-text>
            </div>
            <ion-card-header>
                <ion-row>
                    <ion-col size="7" class="center-align">
                        <ion-skeleton-text animated [style.width.%]="80"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="5" class="ion-text-right">
                        <ion-chip class="chip">
                            <ion-label>
                                <ion-skeleton-text [style.width.px]="60"></ion-skeleton-text>
                            </ion-label>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content>
                <ion-text [style.fontSize.px]="16">
                    <ion-skeleton-text animated [style.width.%]="100"></ion-skeleton-text>
                    <ion-skeleton-text animated [style.width.%]="60"></ion-skeleton-text>
                </ion-text>
                <div class="contain-chip-mode">
                    <ion-chip class="chip chip-mode chip-success">
                        <ion-label>
                            <ion-skeleton-text [style.width.px]="90"></ion-skeleton-text>
                        </ion-label>
                    </ion-chip>
                </div>
            </ion-card-content>
        </ion-card>

    </ion-list>

    <ion-list *ngIf="!res" [ngStyle]="{'background': styles.background_list }">
        <ion-title class="ion-text-center" style="color: white;"
            [ngStyle]="{'font-family':this.styles.font_style || 'Boogaloo'}">
            No hay restaurantes <br>
            disponibles en tu zona
        </ion-title>
    </ion-list>
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="Suelte para Actualizar" refreshingSpinner="circles"
            refreshingText="Actualizando..."></ion-refresher-content>
    </ion-refresher>
</ion-content>