<app-header></app-header>

<ion-content fullscreen="true" st>


  <ion-grid class="ion-no-padding">

    <!-- buscador -->
    <ion-row style="width: 100%;" class="ion-justify-content-center ion-no-ppading ion-no-margin">
      <ion-searchbar debounce='300' (ionChange)='updateSearch(searchText)' [(ngModel)]='searchText'
        placeholder="¿Buscas algo?" style="padding: 0.5rem 1.2rem;" clearIcon>
      </ion-searchbar>
    </ion-row>


    <!-- DESTAQUE -->
    <ion-slides #slides mode="ios" [options]="optionsSlideCategoryCarta"
      style="margin-left: 1rem;margin-bottom: 0.5rem;" *ngIf="viewEntered">
      <ion-slide *ngFor="let categoria of myV.categories" style="height: 2.5rem;"
        (click)="categoryPressed(categoria.catId)">

        <ion-card tyle="padding: 0; margin: 0;border-radius: 0.3rem;">
          <ion-card-content style="padding: 0; margin: 0;">

            <div style="display: flex; flex-direction: row; width: 100%; justify-content: center;align-items: center;"
              [ngStyle]="{'background-color':categoria.catId === categoryIdSelected ? 'var(--ion-color-primary)' : 'var(--ion-color-secondary)' }">

              <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                style="height: 2.2rem;width: 25%; border-radius: 0;object-fit: cover;"
                src="{{myV.urlBaseImg+categoria.catIcon}}" alt="">

              <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }"
                style="width: 75%;font-size: 0.7rem;color: var(--ion-color-light); font-weight: bold;">
                {{categoria.catNombre}}</div>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>


    <!-- Caso cuando estoy mostrando productos de una categoria -->
    <ion-list *ngIf="productsByCategorySelected && productsByCategorySelected.length>0 && !searchText" lines="none"
      style="padding: 0;background-color: var(--ion-color-light);">
      <ion-row style="background-color: ver(--ion-color-light);">
        <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12"
          *ngFor="let producto of productsByCategorySelected; let i= index"
          style="--background: var(--ion-color-light); background-color: var(--ion-color-light);"
          (click)="mostrarProducto(producto.prodId)">

          <ion-item>
            <div tabindex="0"></div>
            <div
              style="display: flex;flex-direction: row;width: 100%;border-top: 1px solid var(--ion-color-light-shade);">

              <div
                style=" width: 30%;display: flex;justify-content: center;padding: 0.7rem 0.5rem 0.7rem 0;align-items: center;">

                <div style="position: relative;max-width: 128px;">

                  <img *ngIf="producto.prodPromotion && producto.prodPromotion.icon "
                    onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                    [src]="myV.urlBaseImg + producto.prodPromotion.icon"
                    style="z-index: 5; position: absolute; right: -15%; top: -12px; width: 40px;" alt="">

                  <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                    [src]="myV.urlBaseImg + producto.prodImagen_sqr" style="width: 100%; object-fit: cover;" />

                </div>
              </div>

              <div style="width: 50%;display: flex;margin: 0.7rem 0;flex-direction: column;justify-content: center;">

                <div
                  style=" color: var(--ion-color-primary); font-weight: bold; font-size: 1rem; padding-bottom: 0.5vh; "
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                  {{producto.prodNombre |uppercase}}
                </div>

                <div *ngIf="producto.prodDescription && producto.prodDescription.length <= 90"
                  style="font-size: 0.8rem; padding-bottom: 0.5rem;"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
                  {{producto.prodDescription}}
                </div>

                <div *ngIf="producto.prodDescription && producto.prodDescription.length > 90"
                  style="font-size: 0.8rem; padding-bottom: 0.5rem;"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
                  {{producto.prodDescription | slice:0:80 }} ...
                </div>

              </div>

              <div style="display: flex;justify-content: center;align-items: center;width: 17%;">

                <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.price }"
                  style="flex-direction: row;display: flex;background-color: var(--ion-color-primary);color: var(--ion-color-light);font-size: 0.7rem;padding: 0.4rem;border-radius: 3px;font-weight: bold;width: 100%;justify-content: center;align-items: center;">

                  <div style="font-size: 0.9rem;">
                    {{producto.prodPrecio|precio:'entero'}}{{producto.prodPrecio|precio:'separadorDecimal'}} </div>
                  <div style="font-size: 0.7rem; margin-bottom: 0.2rem;"> {{producto.prodPrecio|precio:'decimal'}}</div>
                  <div style="font-size: 0.9rem;margin-left: 0.2rem;"> € </div>

                </div>

              </div>

            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

    <!-- Caso Busqueda con productos para mostrar -->
    <ion-list *ngIf="searchText && searchResult && searchResult.length>0" lines="none" style="padding: 0;">
      <ion-row>
        <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12"
          *ngFor="let producto of searchResult; let i= index" style="--background: var(--ion-color-light);"
          (click)="mostrarProducto(producto.prodId)">
          <ion-item>
            <div tabindex="0"></div>
            <div
              style=" display: flex; flex-direction: row; width: 100%; border-top: 1px solid var(--ion-color-light-shade); ">
              <div
                style=" width: 33%; display: flex; justify-content: center; padding: 0.7rem 0.5rem 0.7rem 0; align-items: center; ">
                <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                  [src]="myV.urlBaseImg + producto.prodImagen_sqr" style="width: 100%; object-fit: cover;" />
              </div>

              <div style=" width: 50%;display: flex;margin: 0.7rem 0;flex-direction: column;justify-content: center;">

                <div
                  style=" color: var(--ion-color-primary); font-weight: bold; font-size: 1rem; padding-bottom: 0.5vh; "
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                  {{producto.prodNombre |uppercase}}
                </div>

                <div *ngIf="producto.prodDescription && producto.prodDescription.length <= 90"
                  style="font-size: 0.8rem; padding-bottom: 0.5rem;"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
                  {{producto.prodDescription}}
                </div>

                <div *ngIf="producto.prodDescription && producto.prodDescription.length > 90"
                  style="font-size: 0.8rem; padding-bottom: 0.5rem;"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
                  {{producto.prodDescription | slice:0:90 }} ...
                </div>

              </div>

              <div style=" display: flex; justify-content: center; align-items: center; width: 17%; ">
                <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.price }"
                  style=" flex-direction: row; display: flex; background-color: var(--ion-color-primary); color: var(--ion-color-light); font-size: 0.7rem; padding: 0.4rem; border-radius: 3px; font-weight: bold; width: 100%; justify-content: center; align-items: center; ">
                  <div style="font-size: 0.9rem;">
                    {{producto.prodPrecio|precio:'entero'}}{{producto.prodPrecio|precio:'separadorDecimal'}} </div>
                  <div style="font-size: 0.7rem; margin-bottom: 0.2rem;">{{producto.prodPrecio|precio:'decimal'}}</div>
                  <div style="font-size: 0.9rem;margin-left: 0.2rem;">€</div>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

    <!-- caso buscando y no hay resultados -->
    <div *ngIf="searchText && searchResult && searchResult.length===0" class="animated headShake">

      <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}"
        style="font-size: 1.5rem; color: var(--ion-color-primary); text-align: center;">
        No se encontraron resultados para la búsqueda<br> Intente nuevamente..
      </div>

      <ion-img onerror="this.onerror=null;this.src='assets/image/no-image.png';" style="opacity: 0.2;"
        src="assets/image/no-results.png">
      </ion-img>

    </div>

  </ion-grid>



</ion-content>