<app-header></app-header>

<ion-content *ngIf="myData">

  <ion-grid style="
      /* height: 100%;  */
      border-radius: 2rem 2rem 0 0;
      margin-top: 1rem;
      background-color: var(--ion-color-light);
      /* opacity: 0.8; */
      margin-top: 1rem;
      border-top: 0.1rem solid var(--ion-color-primary);
      padding: 0;
    " class="ion-no-padding ion-no-margin" class="animated slideInUp">
    <ion-row style="display: flex; align-items: flex-end; height: 100%; ">
      <ion-col size="12">


        <!-- caso cuando si tiene ingredientes -->
        <!-- <div *ngIf="directoApi && directoApi.json && directoApi.json.ingredientes.length>0"> -->
        <div *ngIf="myData.bloques && myData.bloques.length>0">
          <!-- <div *ngIf="((directoApi && directoApi.json && directoApi.json.ingredientes && directoApi.json.ingredientes.length>0) || (myData && myData.bloques && myData.bloques.lenght>0) ||
        (myData.alergenos && myData.alergenos.length>0))"> -->

          <div>
            <div style="
                                    display: flex;
                                    flex-direction: row;
                                    width: 100%;
                                    margin-left: 1rem;
                                    /* border-top: 1px solid var(--ion-color-light-shade); */
                                  ">
              <div style="
                                      width: 6rem;
                                      display: flex;
                                      justify-content: center;
                                      padding: 0.7rem 0.5rem 0.7rem 0;
                                      align-items: center;
                                    ">
                <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                  [src]="myV.urlBaseImg + directoApi.imagen_sqr"
                  style="width: 100%; object-fit: cover;height: intrinsic;" />
              </div>

              <div style="
                                      width: 50%;
                                      display: flex;
                                      margin: 0.7rem 0;
                                      flex-direction: column;
                                      justify-content: center;
                                    ">

                <div style="
                                        color: var(--ion-color-primary);
                                        font-weight: bold;
                                        font-size: 1.2rem;
                                        padding-bottom: 0.5vh;
                                      " [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                  Agregar al Carrito
                </div>

                <div style="
                                        color: var(--ion-color-primary);
                                        font-weight: bold;
                                        font-size: 1.3rem;
                                        padding-bottom: 0.5vh;
                                      " [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                  {{directoApi.nombre |uppercase}}
                </div>

              </div>

            </div>

          </div>
        </div>


        <!-- recorrido de los bloques -->
        <div *ngIf="myData.bloques && myData.bloques.length>0">
          <div style="width:100%" *ngFor="let bloque of myData.bloques; let nbloque=index">


            <!-- selección Simple SIN precio -->
            <div style="width: 100%;" *ngIf="bloque.simple && !bloque.precio">
              <ion-radio-group name="ssp" style="width: 100%;" value="{{myData.bloques[nbloque].selectedName}}"
                allowEmptySelection="false">

                <!-- Titulo Simple SIN precio -->
                <ion-row style="  margin-bottom: 0.2rem;">
                  <ion-col size="12" style="display: flex; justify-content: center;">
                    <div class="myTitle" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                      {{bloque.nombre}}:
                    </div>
                  </ion-col>
                </ion-row>

                <!-- Opciones Simple SIN precio -->
                <ion-row style="width: 100%;">
                  <ion-col class="ion-no-padding ion-no-margin" style="width: 100%;" size="12" size-lg="2" size-md="3"
                    size-sm="4" size-xs="6" *ngFor="let opcion of bloque.opciones;let issp = index">
                    <ion-item lines="none">
                      <ion-radio value={{opcion}} (ionFocus)="actualizar('simple',nbloque,issp,opcion)"></ion-radio>
                      <ion-label [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">{{opcion}}
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </div>

            <!-- selección Multiple SIN precio -->
            <div *ngIf="!bloque.simple && !bloque.precio">

              <!-- solo muestro cuando hay opciones en el array -->
              <div *ngIf="bloque.opciones.length>0">

                <!-- Titulo Multiple SIN precio -->
                <ion-row style="  margin-bottom: 0.2rem;">
                  <ion-col size="12" style="display: flex; justify-content: center;">
                    <div class="myTitle" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                      {{bloque.nombre| uppercase}}:
                    </div>
                  </ion-col>
                </ion-row>

                <!-- Opciones Multiple SIN precio -->
                <ion-row style="width: 100%;">
                  <ion-col class="ion-no-padding ion-no-margin ion-align-items-center ion-justify-content-start"
                    style="width: 100%;display: flex;align-items: flex-start;" size="12" size-lg="2" size-md="3"
                    size-sm="4" size-xs="6" *ngFor="let opcion of bloque.opciones;let imsp = index">
                    <ion-item lines="none">
                      <ion-checkbox [(ngModel)]="opcion.selected"
                        (ionChange)="actualizar('multiple',nbloque,imsp,opcion.nombre)">
                      </ion-checkbox>
                      <ion-label *ngIf="!bloque.nombre.toLowerCase().includes('ngrediente')"
                        [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">{{opcion.nombre}}
                      </ion-label>

                      <!-- caso ingredientes -->

                      <div *ngIf="bloque.nombre.toLowerCase().includes('ngrediente')"
                        [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }"
                        style="font-size: 0.9rem;margin: 0.5rem 0; width: 100%;">
                        Sin {{opcion.nombre}}
                      </div>

                    </ion-item>
                  </ion-col>
                </ion-row>

              </div>

            </div>


            <!-- selección Simple CON precio -->
            <div style="margin-top: 1rem;" *ngIf="bloque.simple && bloque.precio">
              <!-- Título Seleccion Simple CON precio  -->
              <ion-row style="margin-bottom: 0.2rem;">
                <ion-col size="12">
                  <div class="myTitle" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                    {{bloque.nombre}}
                  </div>
                </ion-col>
              </ion-row>

              <!-- Seleccion Simple CON precio Items-->
              <ion-radio-group name="scp" style="width: 100%;" value="{{myData.bloques[nbloque].selectedName}}"
                allowEmptySelection="false">
                <ion-row style="width: 100%; margin-bottom: 0.2rem;">
                  <ion-col style="width: 100%;" class="ion-no-padding ion-no-margin" size="12"
                    *ngFor="let opcion of bloque.opciones;let iscp = index">
                    <ion-item lines="none">
                      <ion-radio value={{opcion.nombre}} (click)="actualizar('simple',nbloque,iscp,opcion.nombre)">
                      </ion-radio>
                      <ion-label [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">{{opcion.nombre}}
                      </ion-label>

                      <div style="
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                      " *ngIf="opcion.valor>0">
                        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
                          +{{opcion.valor | currency:'EUR':'symbol':'1.2-2':'fr'}}
                        </div>
                      </div>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </div>


            <!-- selección Multiple CON precio -->
            <div style="width: 100%; margin-top: 1rem;" *ngIf="!bloque.simple && bloque.precio">
              <!-- Titulo SeleccionMultiple CON precio-->
              <ion-row>
                <ion-col size="12">
                  <div class="myTitle" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                    {{bloque.nombre}}
                  </div>
                </ion-col>
              </ion-row>

              <!-- Items seleccionMultiple CON precio -->
              <ion-row style="width: 100%;">
                <ion-col class="ion-no-padding ion-no-margin" style="width: 100%;" size="12"
                  *ngFor="let opcion of bloque.opciones;let imcp = index">
                  <ion-item lines="none">
                    <ion-checkbox (ionChange)="actualizar('multiple',nbloque,imcp,opcion.nombre)"
                      [(ngModel)]="opcion.selected">
                    </ion-checkbox>
                    <ion-label [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">{{opcion.nombre}}
                    </ion-label>
                    <div style="
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                    " *ngIf="opcion.valor>0">
                      <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
                        {{opcion.valor |
                      currency:'EUR':'symbol':'1.2-2':'fr'}}
                      </div>
                    </div>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>

          </div>
        </div>


        <!-- alergenos -->
        <div style="margin-top: 1rem;" *ngIf="myData.alergenos && myData.alergenos.length >0 ">

          <!-- Título Seleccion Simple CON precio  -->
          <ion-row style="margin-bottom: 0.2rem;">
            <ion-col size="12">
              <div class="myTitle" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
                {{'Alérgenos'}}
              </div>
            </ion-col>
          </ion-row>
          <!-- resumen  -->
          <ion-row style="margin-bottom: 0.2rem;">
            <ion-col size="12">
              <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                {{myData.alergenosResumen}}

              </div>
            </ion-col>
          </ion-row>


        </div>


        <!-- caso cuando no hay ni ingredientes ni alergenos -->
        <!-- <div *ngIf="!((directoApi && directoApi.json && directoApi.json.ingredientes &&directoApi.json.ingredientes.length>0) || (myData && myData.bloques && myData.bloques.lenght>0) ||
        (myData.alergenos && myData.alergenos.length>0))"> -->
        <div *ngIf="!(myData.bloques && myData.bloques.length>0)">

          <div style="display: flex; flex-direction: column;">
            <div style="
                                        color: var(--ion-color-primary);
                                        font-weight: bold;
                                        font-size: 1.5rem;
                                        text-align: center;
                                        /* padding-bottom: 0.5vh; */
                                      " [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">Agregar al Carrito
            </div>

            <div *ngIf="directoApi && directoApi.imagen_sqr"
              style="width: 100%; display: flex; justify-content: center;padding: 1rem 0;">
              <img onerror="this.onerror=null;this.src='assets/image/no-image.png';"
                [src]="myV.urlBaseImg + directoApi.imagen_sqr" style="width: 15rem;height: intrinsic;" />
            </div>

            <div *ngIf="directoApi && directoApi.nombre" style="
                                        color: var(--ion-color-primary);
                                        font-weight: bold;
                                        font-size: 1.6rem;
                                        padding-bottom: 0.5vh;
                                        text-align: center;
                                      " [ngStyle]="{'font-family': this.myV.appInfo.fonts.title }">
              {{directoApi.nombre |uppercase}}
            </div>

          </div>

        </div>



      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid fixed style="width: 100%; background: var(--ion-color-light);">
    <ion-row style="
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0
      ">
      <!-- linea 1 totales -->
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12" class="ion-no-margin ion-no-padding">
        <div class="" style="
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 0;
          ">
          <div style="text-align: end; font-size: 1.3rem; margin-right: 1rem;"
            [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
            Total:
          </div>
          <div style="
              text-align: center;
              /* border-bottom: 1px solid var(--ion-color-primary); */
              font-size: 1.2rem;
              font-weight: bold;
              padding: 0 4vw;
            " [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
            {{totalGeneral| currency:'EUR':'symbol':'1.2-2':'fr'}}
          </div>
        </div>
      </ion-col>

      <!-- linea 2 cantidades ya añadir al carrito -->
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12" class="ion-no-margin ion-no-padding">
        <div style="
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;
          ">
          <!-- cantidad -->
          <div style="width: 50%; padding: 0 0.5vw 0 0vw;">
            <div style="display: flex; flex-direction: row; width: 100%;">
              <ion-button (click)="btnMenos()" color="light" style="
                  text-transform: none;
                  width: 25%;
                  --border-radius: 0.3rem 0rem 0rem 0.3rem;
                  margin: 0;
                ">
                <ion-text color="danger" style="font-size: 3rem; margin-top: -0.4rem;">
                  -
                </ion-text>
              </ion-button>

              <ion-button color="light" style="
                  text-transform: none;
                  width: 50%;
                  --border-radius: 0rem 0rem 0rem 0rem;
                  margin: 0;
                " disabled>
                <ion-text color="dark" style="font-weight: bold; font-size: 1.6rem;"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }">
                  {{cantidad}}
                </ion-text>
              </ion-button>

              <ion-button color="light" (click)="btnMas()" style="
                  text-transform: none;
                  width: 25%;
                  --border-radius: 0rem 0.3rem 0.3rem 0rem;
                  margin: 0;
                ">
                <ion-text color="success" style="font-size: 2rem;">
                  +
                </ion-text>
              </ion-button>
            </div>
          </div>

          <!-- btn añadir al carrito -->
          <ion-button (click)="btnAnadirCarrito()" color="success"
            style="text-transform: none; width: 50%; padding: 0 0 0 0.5vw;">
            <ion-icon name="cart" slot="start" style="font-size: 2rem;"></ion-icon>
            <ion-text [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph }" color="light"> Añadir al
              <br />carrito
            </ion-text>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>