ion-radio {
  margin: 0 0.6rem 0 0.5rem;
}

ion-checkbox {
  margin: 0 0.6rem 0 0.5rem;
  // width: 1.5rem;
}

ion-item {
  --min-height: 0;
  border-radius: 0.3rem;
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-top: 0;

  ion-label {
    font-size: 0.9rem;
  }
}

.myTitle {
  border-bottom: 1px solid var(--ion-color-light-shade);
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-color-primary);
  font-weight: bold;
  font-size: 1rem;
}

ion-checkbox {
  --background: var(--ion-color-light);
  --background-checked: var(--ion-color-light);
  --border-color: var(--ion-color-primary);
  --border-color-checked: var(--ion-color-primary);
  --border-radius: 4px;
  --border-style: solid;
  --border-width: 1px;
  --checkmark-color: var(--ion-color-primary);
  --checkmark-width: 5px;
  --size: 18px;
  --transition: background-color 15ms linear;
}

ion-radio {
  --border-radius: 4px;
  --color: var(--ion-color-primary);
  --color-checked: var(--ion-color-primary);
  --inner-border-radius: 2px;
  --border-width: 1px;
  zoom: 0.9;
}
