<ion-content>



  <div class="animated fadeInRight" style="width: 100%; height: 100%; position: relative;background-color: var(--ion-color-light); display: flex;
            justify-content: center; align-items: center;">

    <div style="position: absolute;top: 0; left: 0; z-index: 1;">
      <ion-img style="filter: blur(5px); opacity: 0.3;" [src]="myV.appInfo.config.splash.images.Background"></ion-img>
    </div>

    <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}" style="display: flex; flex-direction: column;
              border-radius: 0.5rem; justify-content: center;align-items: center; z-index: 2;">

      <div
        style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: var(--ion-color-primary);border-radius: 0.5rem;padding-bottom: 0.5rem;">

        <!-- título -->
        <div style="color: var(--ion-color-light); margin: 1.5rem ; text-align: center; font-size: 1.2rem;">
          <strong>Bienvenido</strong> <br />
          a tu restaurant del futuro
        </div>

        <!-- botones de pago -->
        <div style="display: flex; flex-direction: column;width: 90%;">

          <ion-button expand="block" (click)="btnAutoServicio()" color="light"
            style=" text-transform: none;height: 7rem; display: flex;justify-content: center;align-items: center;"
            [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">

            <div
              style="display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: space-evenly ;align-items: center;font-size: 1.2rem;">
              <div>
                <ion-icon style="zoom: 3; margin-bottom: -8px;color: var(--ion-color-shade);" name="car"></ion-icon>
              </div>
              <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" style="text-align: start;">
                Autoservicio
              </div>
            </div>

          </ion-button>

          <ion-button expand="block" (click)="btnLlamarCamarero()" color="light"
            style=" text-transform: none;height: 7rem; display: flex;justify-content: center;align-items: center;"
            [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">

            <div
              style="display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: space-evenly ;align-items: center;font-size: 1.2rem;">
              <div>
                <ion-icon style="zoom: 3; margin-bottom: -8px;color: var(--ion-color-shade);" name="megaphone">
                </ion-icon>
              </div>
              <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" style="text-align: start;">
                Llamar Camarero
              </div>
            </div>

          </ion-button>

        </div>

      </div>

    </div>

  </div>


</ion-content>