/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-menu {
  --width: 500px;
}

img {
  border-radius: 8px;
}

.alert-with-icon {
  &__button {
    margin: 0 auto !important;
  }

  .alert-head + .alert-message {
    padding-top: 1rem !important;
    padding-bottom: 6px !important;
    font-size: 20px !important;

    .text {
      padding-top: 8px;
    }
  }
}

.alert-width-90 {
  --max-width: 90%;
}

.alert-location-select {
  --max-width: 90%;
  .alert-button-group.sc-ion-alert-md {
    display: block;
    .alert-button.sc-ion-alert-md {
      margin: 0 auto;
    }
  }
}
.not-ellipsis {
  text-overflow: unset;
  white-space: pre-wrap;
}
