<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons collapse="true" slot="start">
            <ion-button [routerLink]="['/tabs/home']" slot="start">
                <ion-icon style="zoom: 1.5;" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>OREGANO</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons collapse="true" slot="end">
                <ion-button [routerLink]="['/tabs/home']">
                    <ion-icon style="zoom: 1.5;" name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title size="large">OREGANO</ion-title>
        </ion-toolbar>
        <ion-toolbar class="ion-padding-top">
            <ion-searchbar></ion-searchbar>
        </ion-toolbar>
    </ion-header>


    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="6" size-xs="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card Title</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>