<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn" fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">favorites</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="6" size-xs="12">

        <ion-list lines="none" style="padding: 0vh 0vh 7vh 0vh;">

          <ion-item *ngFor="let producto of productos; let i = index">
            <ion-thumbnail slot="start">
              <img onerror="this.onerror=null;this.src='assets/image/no-image.png';" [src]="producto.img">
            </ion-thumbnail>
            <ion-label>
              <h2>{{producto.name}} {{i}}</h2>
              <p>tag1, tag2, tag3</p>
              <p>35min
                <ion-text *ngIf="producto.tracking" color="secondary">live tracking</ion-text>
                <ion-text *ngIf="!producto.tracking" color="danger">no live tracking</ion-text>
              </p>
              <p *ngIf="producto.promoted">Promoted</p>
              <p *ngIf="producto.discount">15% OFF</p>
            </ion-label>
            <ion-badge class="top-right" slot="end">4.0</ion-badge>
          </ion-item>


        </ion-list>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>