<app-header></app-header>

<ion-content class="animated fadeIn" fullscreen="true" style="position:relative;">

  <!-- ---------------------------------------------------------------------------------- -->
  <!--------------------- pantallas método de Pago, vuelta y confirmar---------------------->
  <div style="width: 100%;height: 100%;position: absolute;background-color: var(--ion-color-light);"
    *ngIf="showIdentificarUsuario || showPaymentMethod || showConfirm || showEffective || showAddZone">

    <div style="width: 100%;height: 100%;position: absolute;background-color: var(--ion-color-light);">

      <!-- ------------------------------------------------------------------------------- -->
      <!-- identificar Usuario -->.
      <div class="animated fadeInLeft" *ngIf="showIdentificarUsuario && !userLogged" style="width: 100%; height: 80%; position: absolute;background-color: var(--ion-color-light); z-index: 15; display: flex;flex-direction: column;
            justify-content: center; align-items: center;">
        <ion-icon style="zoom: 10 ; color: var(--ion-color-primary);" name="person-circle"></ion-icon>
        <div style="position: relative; z-index: 15; width: 20rem; 
               background-color: var(--ion-color-primary);border-radius: 0.5rem; border-radius: 0.5rem;
               display: flex; justify-content: center;align-items: center; flex-direction: column;">

          <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; padding: 0.3rem">
            <ion-input style="text-align: center; border-radius: 0.5rem;" type="text" placeholder="Nombre"
              [(ngModel)]="usuario.nombre">
            </ion-input>
            <ion-input style="text-align: center; border-radius: 0.5rem;" type="phone" placeholder="Teléfono"
              [(ngModel)]="usuario.telefono">
            </ion-input>
            <ion-input style="text-align: center; border-radius: 0.5rem;" type="email" placeholder="Correo"
              [(ngModel)]="usuario.correo">
            </ion-input>

          </div>
          <!-- </div> -->

        </div>
        <!-- botones -->
        <div style="display: flex; flex-direction: row;width: 90%; margin-top: 0.5rem;">
          <div style="width: 50%;">
            <ion-button style="text-transform: none; --color: var(--ion-color-light)" expand="block"
              (click)="btnUserVolver()" color="primary">
              <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
                Volver
              </div>
            </ion-button>
          </div>
          <div style="width: 50%;">
            <ion-button style="text-transform: none; --color: var(--ion-color-light)" expand="block" color="primary"
              (click)="btnUserContinuar()">
              <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
                Continuar
              </div>
            </ion-button>
          </div>
        </div>
      </div>


      <!-- ------------------------------------------------------------------------------- -->
      <!-- método de Pago -->
      <div class="animated fadeInRight" *ngIf="showPaymentMethod" style="width: 100%; height: 100%; position: absolute; top:0;background-color: var(--ion-color-light); z-index: 15; display: flex;
    justify-content: center; align-items: center;">
        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}" style="position: relative; z-index: 15; width: 85%;
        background-color: var(--ion-color-light);border-radius: 0.5rem; display: flex; flex-direction: column;
      border-radius: 0.5rem; justify-content: center;align-items: center;">

          <!-- Total a pagar -->
          <div
            style="display: flex;flex-direction: column;justify-content: center;align-items: center; margin-bottom: 1rem;color: var(--ion-color-primary);">
            <div>Total a pagar:</div>
            <div [ngStyle]="{'font-family':this.myV.appInfo.fonts.price||'monospace' }" style="font-size: 2rem;">
              {{totalGeneral.toLocaleString('de-DE', {minimumFractionDigits: 2, maximumFractionDigits: 2})}} €</div>
          </div>

          <!-- cuadro con métodos de págos -->
          <div
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: var(--ion-color-primary);border-radius: 0.5rem;padding-bottom: 0.5rem;">

            <!-- título -->
            <div style="color: var(--ion-color-light); margin: 1.5rem ; text-align: center; font-size: 1.2rem;">
              Seleccione método de pago
            </div>

            <!-- botones de pago -->
            <div style="display: flex; flex-direction: column;width: 90%;">

              <ion-button *ngFor="let method of paymentMethods; let i = index" expand="block" color="light"
                style=" text-transform: none;height: 3rem; display: flex;justify-content: center;align-items: center;"
                [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" (click)="btnPaymentMethodSelected(method)">

                <div
                  style="display: flex; flex-direction: row; width: 100%; justify-content: center;align-items: center;font-size: 1.2rem;">
                  <div style="width: 30%;">
                    <ion-img onerror="this.onerror=null;this.src='assets/image/no-image.png';" style="height: 2.7rem; "
                      [src]="method.icon"></ion-img>
                  </div>
                  <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" style=" width: 70%;text-align: start;">
                    {{method.nombre}}
                  </div>
                </div>

              </ion-button>

            </div>

          </div>

          <!-- botones volver y continuar -->
          <div style="display: flex; flex-direction: row;width: 100%; margin-top: 0.5rem; justify-content: center;">
            <div style="width: 50%;">
              <ion-button style="text-transform: none;" expand="block"
                [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" (click)="btnPaymentMethodVolver()"
                color="primary">
                <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
                  Volver
                </div>
              </ion-button>
            </div>
          </div>
        </div>

      </div>


      <!-- ------------------------------------------------------------------------------- -->
      <!-- casos para pago en efectivo -->
      <div class="animated fadeInLeft" *ngIf="showEffective" style="width: 100%; height: 80%; position: absolute;background-color: var(--ion-color-light); z-index: 15; display: flex;flex-direction: column;
                  justify-content: center; align-items: center;">
        <ion-icon style="zoom: 5 ;" name="wallet"></ion-icon>
        <div style="position: relative; z-index: 15; width: 20rem; 
                     background-color: var(--ion-color-primary);border-radius: 0.5rem; border-radius: 0.5rem;
                     display: flex; justify-content: center;align-items: center; flex-direction: column;">

          <div
            style="display: flex; align-items: center; flex-direction: row;color: var(--ion-color-light); margin-top: 0.5rem;"
            [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
            <div style="font-size: 1rem;">Monto a pagar:</div>
            <div style="font-size: 1.1rem;font-weight: bold;margin-left: 0.5rem;">
              {{totalGeneral | currency:'EUR':'symbol':'1.2-2':'fr'}}
            </div>
          </div>
          <div
            style="color: var(--ion-color-light);display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 0.5rem;"
            [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
            <div style="margin-top: 0.5rem;">¿Debemos estar preparados</div>
            <div>para vuelta</div>
            <div>al momento de la entrega?</div>
            <div style="margin-top: 0.5rem;">Indíquenos la cantidad en efectivo</div>
            <div>con la que pagará</div>

          </div>

          <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; padding: 0.3rem; ">

            <ion-input style="text-align: center; border-radius: 0.5rem;" type="number" placeholder="Aquí"
              [(ngModel)]="effectiveVuelta.vuelta">
            </ion-input>


          </div>

        </div>
        <!-- botones -->
        <div style="display: flex; flex-direction: row;width: 90%; margin-top: 0.5rem;">
          <div style="width: 50%;">
            <ion-button style="text-transform: none; --color: var(--ion-color-light)" expand="block"
              (click)="btnEffeciveVolver()" color="primary">
              <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
                Volver
              </div>
            </ion-button>
          </div>
          <div style="width: 50%;">
            <ion-button style="text-transform: none; --color: var(--ion-color-light)" expand="block" color="primary"
              (click)="btnEffeciveContinuar()">
              <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
                Continuar
              </div>
            </ion-button>
          </div>
        </div>
      </div>


      <!-- ------------------------------------------------------------------------------- -->
      <!-- casos para Confirm -->
      <div class="animated fadeInRight" *ngIf="showConfirm" style="width: 100%; height: 110%; position: absolute;background-color: var(--ion-color-light); z-index: 15; display: flex;
    justify-content: center; align-items: center;">
        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}" style="position: relative; z-index: 15; width: 85%;
        background-color: var(--ion-color-light);border-radius: 0.5rem; display: flex; flex-direction: column;
      border-radius: 0.5rem;top: -10%; justify-content: center;align-items: center;">

          <div
            style="width: 100%;display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: var(--ion-color-primary);border-radius: 0.5rem;padding-bottom: 0.5rem;">

            <!-- título -->
            <div style="color: var(--ion-color-light); margin: 0.5rem 0; text-align: center; font-size: 1.2rem;">
              ¿Está seguro de <br>continuar con la compra <br> usando {{paymentSelected.nombre}} ?
            </div>

          </div>

          <!-- botones volver y continuar -->
          <div style="display: flex; flex-direction: row;width: 100%; margin-top: 0.5rem;">
            <div style="width: 50%;">
              <ion-button style="text-transform: none;" expand="block"
                [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" (click)="btnConfirmVolver()" color="primary">
                <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
                  Volver
                </div>
              </ion-button>
            </div>
            <div style="width: 50%;">
              <ion-button style="text-transform: none;" expand="block" color="primary"
                [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}" (click)="btnConfirmContinuar()">
                <div style="color: var(--ion-color-light);" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
                  Continuar
                </div>
              </ion-button>
            </div>
          </div>
        </div>

      </div>


      <!-- ------------------------------------------------------------------------------- -->
      <!-- caso para Agragar Zona  a mis ubicaciones-->
      <div class="animated fadeInRight" *ngIf="showAddZone" style="max-width: 500px; min-width: 300px; margin: auto;">

        <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}" style="margin-top: 47px;"
          class="addCartZones">

          <div class="animated fadeIn"
            style="display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center;">
            <div>
              <div style="display: flex; flex-direction: row; align-items: center; margin: 10px;"
                (click)="ocultarTodasLasVentanas()">
                <ion-icon style="zoom: 1.4; color: var(--ion-color-success);" name="caret-back"></ion-icon>
                <div>Volver</div>
              </div>
            </div>

            <div style="margin: auto; height: 100%;width: 100%;">
              <div style="max-width: 500px; margin: 0 15px; min-width: 300px;">

                <div style="text-align: center; font-size: 21px; margin-top: 20px;"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
                  Agregar una ubicación
                </div>

                <div class="elemento">
                  <ion-item lines="none">
                    <ion-label style="font-size: 15px;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
                      position="floating">Zona:</ion-label>
                    <ion-select value="peperoni" multiple="false" placeholder="Seleccione Zona aquí"
                      style="--padding-start: 10px; height: 43px;" [(ngModel)]="zonaSelected">
                      <ion-select-option [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
                        value="{{zona.id}}" *ngFor="let zona of aviableZones">
                        {{zona.ciudad}}-{{zona.nombre}}-({{zona.code}})
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>

                <div class="elemento">
                  <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">Calle/Avenida/Acera/Carretera</div>
                  <ion-textarea placeholder='Ej: Calle Guines, Avenida Manuel' [(ngModel)]="calle" maxlength="30"
                    autoGrow="false" rows="1"></ion-textarea>
                </div>

                <div class="elemento">
                  <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">Casa/Apartamento/Portal</div>
                  <ion-textarea placeholder='Ej: 4, local 1, Planta 2-A' [(ngModel)]="casa" maxlength="30"
                    autoGrow="false" rows="1"></ion-textarea>
                </div>

                <ion-button expand="block" color="success" style="text-transform: none;" (click)="btnAddZone()"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">Guardar en mis ubicaciones</ion-button>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>


  </div>



  <!-- ------------------------------------------------------------------------------- -->
  <!--------------------------------- plantilla general --------------------------------->
  <!-- ------------- productos, panel llevar, panel recoger, total, pagar ------------ -->
  <!-- ------------------------------------------------------------------------------- -->
  <ion-grid
    *ngIf="!(showIdentificarUsuario || showPaymentMethod || showConfirm || showEffective || showAddZone) && enableDelivery"
    class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin" size="12">
        <div style="width: 100%;
          text-align: center;
          margin: 0.5rem 0;
          color: var(--ion-color-primary);
          font-size: 1.3rem;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.title}">
          TU PEDIDO:
        </div>

        <!-- spinner de buscando productos -->
        <div *ngIf="loading" style="width: 100%; display: flex; justify-content: center; align-items: center;">
          <div>
            <ion-spinner color="primary" style="zoom: 2;" name="circles"></ion-spinner>
          </div>
        </div>

        <!-- toda la info -->
        <div style="width: 100%;" *ngIf="!loading && productos && productos.length>0" class="animated fadeIn">

          <!-- ------------------------------------------------------------------------------- -->
          <!--Productos-->
          <ion-grid *ngIf="!loading" class="ion-no-padding ion-no-margin" style="width:
          100%;margin-bottom: 0.5rem;" fixed>
            <ion-row class="ion-no-padding ion-no-margin" style="border-bottom:
            1px solid var(--ion-color-light-shade)">
              <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12"
                *ngFor="let producto of productos; let nProducto= index" style="border-top: 1px solid var(--ion-color-light-shade);
              padding: 0.5rem 0.5rem;">
                <div style="width: 100%; display: flex; flex-direction: column;">
                  <!-- primera linea -->
                  <div style="width: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;">

                    <!-- titulo y precio -->
                    <div style="width: 65%; display: flex; flex-direction: row;
                    align-items: center; justify-content: center;">

                      <!-- espacio de papelera -->
                      <div *ngIf="producto.precio <= 0" style="text-transform: none;
                      width: 15%;
                      /* --border-radius: 0.3rem 0rem 0rem 0.3rem; */
                      margin: 0 0.5rem 0 0;
                      --padding-bottom: 0;
                      --padding-end: 0;
                      --padding-start: 0;
                      --padding-top: 0;">
                      </div>

                      <ion-button *ngIf="producto.precio >= 0" (click)="btnEliminar(producto.id,nProducto)"
                        color="light" style="text-transform: none;
                      width: 15%;
                      --border-radius: 0.3rem 0rem 0rem 0.3rem;
                      margin: 0 0.5rem 0 0;
                      --padding-bottom: 0;
                      --padding-end: 0;
                      --padding-start: 0;
                      --padding-top: 0;">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                      </ion-button>


                      <div style="width: 80%;">
                        <div style="color: var(--ion-color-primary);
                        font-weight: bold;" [ngStyle]="{'font-family':
                        this.myV.appInfo.fonts.title }">
                          {{producto.nombre}}
                        </div>
                        <div style="display: flex;
                        flex-direction: row;
                        align-items: center;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.price }">
                          <div>Precio:</div>
                          <div style="font-weight: bold; margin-left: 0.5rem;">
                            {{producto.precio.toLocaleString('de-DE', {minimumFractionDigits: 2, maximumFractionDigits: 2})}}
                            €</div>
                        </div>
                      </div>

                    </div>

                    <!-- cantidad -->
                    <div *ngIf="producto.precio <= 0" style="width: 35%;"> </div>
                    <div *ngIf="producto.precio > 0" style="width: 35%;">
                      <div style="display: flex; flex-direction: row; width:
                      100%;">


                        <ion-button (click)="btnMenos(producto.id,nProducto)" color="light" style="text-transform: none;
                        width: 30%;
                        --border-radius: 0.3rem 0rem 0rem 0.3rem;
                        margin: 0;">
                          <ion-text color="danger" style="font-size: 3rem;
                          margin-top: -0.4rem;">
                            -
                          </ion-text>
                        </ion-button>

                        <ion-button color="light" style="text-transform: none;
                        width: 40%;
                        --border-radius: 0rem 0rem 0rem 0rem;
                        margin: 0;" disabled>
                          <ion-text color="dark" style="font-weight: bold;
                          font-size: 1.6rem;" [ngStyle]="{'font-family':
                          this.myV.appInfo.fonts.paragraph }">
                            {{producto.cantidad}}
                          </ion-text>
                        </ion-button>

                        <ion-button (click)="btnMas(producto.id,nProducto)" color="light" style="text-transform: none;
                        width: 30%;
                        --border-radius: 0rem 0.3rem 0.3rem 0rem;
                        margin: 0;">
                          <ion-text color="success" style="font-size: 2rem;">
                            +
                          </ion-text>
                        </ion-button>
                      </div>
                    </div>

                  </div>

                  <!-- Descripción -->
                  <div *ngIf="producto.resumen" [ngStyle]="{'font-family':
                  this.myV.appInfo.fonts.paragraph }" style="width: 100%; font-size: 0.8rem; padding: 0.5rem 0;">
                    {{producto.resumen| slice:0:95}}
                  </div>

                </div>
              </ion-col>
            </ion-row>
          </ion-grid>


          <!-- ------------------------------------------------------------------------------- -->
          <!-- Panel llevar y Recoger -->
          <div style="position: relative; width: 100%; padding: 0 0.5rem;">

            <!-- formas css fondo -->
            <div style="position: relative; width: 100%;">
              <!-- Btn circulo Central vacío -->
              <div
                *ngIf="(status.general && (status.delivery || status.cocina)) || ( !platform.is('cordova') && myV.intoLocalMode==='autoServicio')"
                style="position: absolute;
              width: 5rem;
              height: 3.5rem;
              top: -50%;
              left: 50%;
              z-index: 3 !important;">
                <div style="background-color: var(--ion-color-light);
                position: absolute;
                width: 5rem;
                height: 100%;
                top: 0%;
                left: -50%;
                border-radius: 5rem;
                /* z-index: 5 !important; */"></div>
              </div>

              <!-- abajo de btnLlevar Fondo con forma -->
              <div style="position: absolute; width: 100%; height: 5rem;">
                <!-- lado izdo -->
                <div *ngIf="panel==='llevar' && status.general && status.delivery" style="position: absolute;
                background-color: var(--ion-color-primary);
                top: 25%;
                left: 0.3rem;
                height: 3rem;
                width: 45%;
                border-radius: 0.5rem;
                z-index: 1;"></div>

                <!-- lado derecho -->
                <div
                  *ngIf="(panel==='recoger' && status.general && status.cocina)|| ( !platform.is('cordova') && myV.intoLocalMode==='autoServicio')"
                  style="position: absolute;
                background-color: var(--ion-color-primary);
                top: 25%;
                right: 0.3rem;
                height: 3rem;
                width: 45%;
                border-radius: 0.5rem;
                z-index: 1;"></div>
              </div>
            </div>

            <!-- botones ParaLLevar y Para Recoger -->
            <div style="display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;">

              <!-- btn para llevar -->
              <div style="width: 50%; position: relative; z-index: 10 !important;">
                <ion-button *ngIf="status.general && status.delivery" expand="block" (click)="btnLlevar()"
                  id="btnLlevar">
                  <div
                    style="display: flex;flex-direction: row;align-items: center;justify-content: center;color: var(--ion-color-light);">
                    <div>
                      <ion-icon slot="icon-only" name="bicycle-outline" style="margin-right: 0.5rem; zoom: 1.3;">
                      </ion-icon>
                    </div>
                    <div>
                      <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">Para llevar</div>
                    </div>
                  </div>
                </ion-button>
              </div>

              <!-- btn para Recoger -->
              <div style="width: 50%;">
                <ion-button
                  *ngIf="(status.general && status.cocina)|| ( !platform.is('cordova') && myV.intoLocalMode==='autoServicio')"
                  expand="block" (click)="btnRecoger()" id="btnRecoger">
                  <div
                    style="display: flex;flex-direction: row;align-items: center;justify-content: center;color: var(--ion-color-light);">
                    <div>
                      <ion-icon slot="icon-only" name="file-tray-outline" style="margin-right: 0.5rem; zoom: 1.3;">
                      </ion-icon>
                    </div>
                    <div>
                      <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                        {{myV.intoLocalMode==='autoServicio'?'AutoServicio':'Para recoger'}}</div>
                    </div>
                  </div>
                </ion-button>
              </div>
            </div>

            <!-- ------------------------------------------------------------------------------- -->
            <!-- panel llevar -->
            <div class="animated fadeIn" *ngIf="panel==='llevar' && status.general && status.delivery" class="paneles">

              <div style="display: flex; flex-direction: column;">
                <div style="font-size: 0.8rem; color: white; margin: 0.5rem 0 0 0.4rem;"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">Direcciones</div>
                <div style="background-color: white; padding: 15px; border-radius: 0.5rem;"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">

                  <!-- Caso con zonas para elegir -->
                  <ion-radio-group class="animated fadeIn" *ngIf="misDirecciones && misDirecciones.length>0"
                    [(ngModel)]="miDireccionSeleccionadaId" (ionChange)="cambioDeSeleccionDeZona()">

                    <div style="margin: -15px 0px 20px 0px;;">
                    <div *ngFor="let zona of misDirecciones; let i = index"
                      style="display: flex; flex-direction: column;border-bottom: 1px solid var(--ion-color-primary); border-radius: 10px;">
                      <div style="display: flex; flex-direction: row; align-items: center;">
                        <ion-item lines="none"
                          style="display: flex; flex-direction: row; align-items: center; 
                         --background:transparent; --ripple-color:var(--ion-color-primary);--inner-padding-bottom: 15px;--inner-padding-top: 15px; width: 100%;">
                          <ion-radio [(value)]="zona.id"></ion-radio>
                          <div style="display: flex; flex-direction: column; margin-left: 8px; font-size: 11px;">
                            <div>{{zona.zone.ciudad}}-({{zona.zone.code}})-{{zona.zone.nombre}}</div>
                            <div>{{zona.dir}} {{zona.dir2}}</div>
                            <div style="display: flex; flex-direction: row;">
                              <div>Recago:</div>
                              <div style="margin-left: 3px;">{{zona.zone.recargo}}€</div>
                              <div style="margin-left: 5px;" *ngIf="zona.zone.compra_min">Pedido min:</div>
                              <div style="margin-left: 3px;" *ngIf="zona.zone.compra_min">{{zona.zone.compra_min}}€
                              </div>
                            </div>
                          </div>
                        </ion-item>
                        <ion-button color="light" (click)="deleteDireccion(i)"
                        style="width: 34px; --padding-bottom: 0; --padding-top: 0; --padding-start: 0; --padding-end: 0;   
                         --border-radius: 50px">
                          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                        </ion-button>
                      </div>
                    </div>
                    </div>
                  </ion-radio-group>

                  <!-- caso boton para añadir Zonas -->
                  <div>
                    <ion-button (click)=" ocultarTodasLasVentanas();showAddZone = true" expand="block" color="success"
                      style="text-transform: none; " [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                      <div style="display: flex; flex-direction: row; align-items: center;">
                        <ion-icon name="add-circle" style="margin-right: 5px; zoom: 1.2;"></ion-icon>
                        <div>Añadir Ubicación</div>
                      </div>
                    </ion-button>
                  </div>

                </div>
              </div>
              <!-- selección de Zona vieja o nueva -->
              <!-- <div *ngIf="myZones && myZones.length>0" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
                style="display: flex; flex-direction: column;">
                <div style="font-size: 0.8rem; color: white; margin: 0.5rem 0 0 0.4rem;">Direcciones</div>
                <ion-item style="display: flex;flex-direction: column; margin-bottom: 0.3rem;">
                  <ion-label style="color: transparent;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                    Mis Direcciones</ion-label>
                  <ion-select multiple="false" [(ngModel)]='deliveryCodeOld' (ionChange)="cambioDeZonaVieja()"
                    placeholder="Seleccione Zona Aquí" slot="end" name='deliveryZone2' #deliveryZone2>
                    <ion-select-option *ngFor="let oldZone of myZones; let nProducto= index"
                      value="{{oldZone.details.code}}" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                      {{ ' ('+oldZone.details.code+') '+oldZone.details.nombre + ' ' + oldZone.details.ciudad}}
                    </ion-select-option>
                    <ion-select-option value="otra">Elegir Otra Dirección</ion-select-option>
                  </ion-select>
                </ion-item>
              </div> -->

              <!-- selección de Zona (código) -->
              <!-- <div *ngIf="newZone || !myZones" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
                style="display: flex; flex-direction: column;">
                <div style="font-size: 0.8rem; color: white; margin: 0.5rem 0 0 0.4rem;">Zonas Disponibles</div>
                <ion-item style="display: flex;flex-direction: column;">
                  <ion-label style="color: transparent;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                    Zona
                  </ion-label>
                  <ion-select multiple="false" [(ngModel)]='deliveryCode' (ionChange)="cambioDeZonaDelivery()"
                    placeholder="Seleccione Zona Aquí" slot="end" name='deliveryZone' #deliveryZone>
                    <ion-select-option *ngFor="let zone of deliveryZones; let
                  nProducto= index" value="{{zone.code}}"
                      [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                      {{ ' ('+zone.code+') '+zone.nombre+' '+zone.ciudad}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </div> -->

              <!-- <div *ngIf="showDirectionsInputs || (myZones && myZones.length>0)"> -->
              <!-- dir1 dirección -->
              <!-- <ion-input type="text" placeholder="Dirección Ej: Av. del Alfajare, Calle Guines" -->
              <!-- [(ngModel)]="deliveryDir1" style="--padding-start: 0.5rem;"> -->
              <!-- </ion-input> -->

              <!-- dir2 casa -->
              <!-- <ion-input type="text" placeholder="Casa / Apartamento / Portal / Bloque" [(ngModel)]="deliveryDir2" -->
              <!-- style="--padding-start: 0.5rem;"> -->
              <!-- </ion-input> -->
              <!-- </div> -->

              <!-- textarea -->
              <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                <div style="font-size: 0.8rem; color: white; margin: 0.5rem 0 0 0.4rem;">¿Quieres dejarnos una nota?
                </div>
                <ion-textarea [(ngModel)]="dejarNota"
                  style=" --background: var(--ion-color-light); border-radius: 0.5rem;margin-top: 0px;" maxlength='300'
                  autoGrow='true'></ion-textarea>
              </div>

              <!-- ------------------------------------------------------------------------------- -->
              <!-- mostrar info "para llevar" -->
              <div style="margin: 1rem;color:var(--ion-color-light);margin: 1rem 0rem 0rem 0.5rem;"
                [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                <div style="font-size: 0.8rem;">Seleccionado:</div>
                <div style="font-weight: bold;font-size: 1rem;">PARA LLEVAR</div>
              </div>

              <!-- mostras precio de envio si es que tiene -->
              <div *ngIf="precioEnvio>0" class="animated fadeIn" style="display: flex; flex-direction: row; color:
              var(--ion-color-light); align-items: center; margin: 0.5rem;">
                <div>Recargo por envío:</div>
                <div style="margin-left: 0.5rem;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.price }">
                  {{precioEnvio || 0 | currency:'EUR':'symbol':'1.2-2':'fr'}}</div>
              </div>

              <!-- mostras precio de envio si es que tiene -->
              <div *ngIf="deliveryCompraMin && totalGeneral<deliveryCompraMin" class="animated headShake" style="display: flex; flex-direction: row; color:
              var(--ion-color-light); align-items: baseline; margin: 0.5rem;">
                <div>Monto mínimo para esta Zona:</div>
                <div style="margin-left: 0.5rem;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.price }">
                  {{deliveryCompraMin || 0 | currency:'EUR':'symbol':'1.2-2':'fr'}}</div>
              </div>

            </div>


            <!-- ------------------------------------------------------------------------------- -->
            <!-- panel recoger -->
            <div class="animated fadeIn"
              *ngIf="(panel==='recoger' && status.general && status.cocina)|| (panel==='recoger' && myV.intoLocalMode==='autoServicio') "
              class="paneles" style="color: var(--ion-color-light);">
              <div style="margin: 1rem;" [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">

                <!-- Nomre de cliente unicamente para autoservicio -->
                <div *ngIf="myV.intoLocalMode==='autoServicio'"
                  [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}">
                  <div style="font-size: 0.8rem; color: white;  margin: 0 0 0 -0.5rem;">Tu nombre:
                  </div>
                  <ion-input type="text" placeholder="" [(ngModel)]="dejarNombre"
                    style="--padding-start: 0.5rem; margin: 0 -1rem; width: auto; color:var(--ion-color-light-contrast) ;">
                  </ion-input>
                </div>

                <!-- textarea -->
                <div [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}"
                  style="margin: 0 -1rem; margin-bottom: 1rem;">
                  <div style="font-size: 0.8rem; color: white; margin: 0.5rem 0 0 0.4rem;">¿Quieres dejarnos una nota?
                  </div>
                  <ion-textarea [(ngModel)]="dejarNota"
                    style=" --background: var(--ion-color-light); border-radius: 0.5rem;margin-top: 0px; color: var(--ion-color-light-contrast);"
                    maxlength='300' autoGrow='true'></ion-textarea>
                </div>

                <div style="font-size: 0.8rem;">Seleccionado:</div>
                <div style="font-weight: bold;font-size: 1rem;">PARA RECOGER EN TIENDA</div>
              </div>
            </div>
          </div>

          <!-- ------------------------------------------------------------------------------- -->
          <!-- Total -->
          <div style="display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: flex-end;
          font-family: Poppins;
          align-items: flex-end;" [ngStyle]="{'font-family':
          this.myV.appInfo.fonts.price||'monospace' }">
            <div style="padding-bottom: 0.1rem;">Total:</div>
            <div style="margin: 0 1rem; font-size: 1.5rem; font-weight: bold;">
              {{totalGeneral || 0 | currency:'EUR':'symbol':'1.2-2':'fr'}}
            </div>
          </div>

          <!-- pagar -->
          <ion-button expand="block" color="success" style="text-transform: none; " [disabled]="((deliveryCompraMin && totalGeneral<deliveryCompraMin) || 
            !(status.general && (status.delivery || status.cocina)) ? true : false) &&
             !( !platform.is('cordova') && myV.intoLocalMode==='autoServicio') "
            [ngStyle]="{'font-family': this.myV.appInfo.fonts.paragraph}" (click)="btnPagar()">Pagar</ion-button>
        </div>

        <!-- caso cuando Carrito Vacío -->
        <div style="width: 100%;color: var(--ion-color-primary); text-align: center;"
          *ngIf="!loading && productos && productos.length===0" class="animated fadeIn">
          No hay productos en el carrito por el momento.<br> Agregue productos al carrito..
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>


  <div *ngIf="!enableDelivery"
    style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">

    <div style="font-size: 1.2; font-weight: bold;">
      {{txtdisabledDelivery}}
    </div>

  </div>


</ion-content>