<ion-content>
  <ng-container *ngIf="view == 'main'">
    <div class="animated fadeIn ion-padding">
      <div class="top-right">
        <ion-button [routerLink]="['/tabs/home']" color="danger" size="small">Skip</ion-button>
      </div>

      <div style="padding-top: 50px;">

        <img onerror="this.onerror=null;this.src='assets/image/no-image.png';" src="assets/image/logo.png"
          style="width: 400px;" alt="">

        <div style="padding-top: 20px; padding-bottom: 50px;">
          <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let item of items">
              <img onerror="this.onerror=null;this.src='assets/image/no-image.png';" [src]="item.img">
            </ion-slide>
          </ion-slides>
        </div>

        <div class="ion-padding-top">
          <ion-button expand="block" color="danger">Continue with Facebook</ion-button>
          <ion-button expand="block" color="danger">Continue with Google</ion-button>
          <ion-button expand="block" color="danger" (click)="segmentChanged('sign-up')">Continue with Email</ion-button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="view == 'sign-up'">
    <div class="animated bounceInUp ion-padding">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button slot="start" (click)="segmentChanged('main')">
            <ion-icon style="zoom: 1;" name="arrow-down-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>
          Sign up
        </ion-title>
      </ion-toolbar>
      <form>
        <ion-list line="none">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <br>
          <ion-button expand="block">Sign up</ion-button>
          <br>
          <p class="ion-text-center" (click)="segmentChanged('login')">
            <ion-text color="danger"> Already have an accunt? Login.</ion-text>
          </p>
        </ion-list>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="view == 'login'">
    <div class="animated bounceInRight ion-padding">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button slot="start" (click)="segmentChanged('sign-up')">
            <ion-icon style="zoom: 1;" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>
          Login
        </ion-title>
      </ion-toolbar>
      <form>
        <ion-list line="none">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <br>
          <ion-button expand="block">Login</ion-button>
        </ion-list>
      </form>
    </div>
  </ng-container>


</ion-content>