<div
  style="width: 100%; height: 100%; background-color: white ; display: flex; justify-content: center;align-items: center;flex-direction: column;">

  <ion-img src="assets/image/no-Internet.png" style="object-fit: scale-down;" (click)="volver()"></ion-img>

  <!-- spinner de buscando productos -->
  <div *ngIf="loading" style="width: 100%; display: flex; justify-content: center; align-items: center;">
    <div>
      <ion-spinner color="primary" style="zoom: 2;" name="circles"></ion-spinner>
    </div>
  </div>

  <ion-button (click)="volver()" expand="block" fill="clear" shape="round">
    Volver
  </ion-button>

</div>