ion-button {
  --background: var(--ion-color-medium);
  --background-activated: var(--ion-color-medium);
  --background-activated-opacity: 1;
  --background-focused: var(--ion-color-medium);
  --background-focused-opacity: 1;
  --background-hover: var(--ion-color-medium);
  --background-hover-opacity: 1;
  --border-color: var(--ion-color-medium);
  --border-radius: 8px;
  --border-style: solid;
  --border-width: 8px;
  //   --box-shadow: 10px 10px;
  --color: var(--ion-color-medium-contrast);
  --color-activated: var(--ion-color-medium-contrast);
  --color-focused: var(--ion-color-medium-contrast);
  --color-hover: var(--ion-color-medium-contrast);
  --opacity: 1;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
  --ripple-color: #1e1e1e;
  --transition: background-color 15ms linear;
}
