<ion-content>
    <div
        style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">

        <!-- spinner -->
        <div *ngIf="load" style="width: 100%; display: flex; justify-content: center; align-items: center;">
            <div>
                <ion-spinner color="primary" style="zoom: 2;" name="circles"></ion-spinner>
            </div>
        </div>

        <!-- imagen -->
        <div style="text-align: center;">
            <ion-img src="assets/image/procesando-pago.png" style="border-radius: 0;"></ion-img>
        </div>

        <ion-button (click)="btnVolver()" style="width: 60%;">
            Volver
        </ion-button>

    </div>
</ion-content>